body,dd,dl,form,h1,h2,h3,h4,h5,h6,ol,p,ul {
	margin: 0
}

button,img {
	border: 0
}

img,input,label {
	vertical-align: middle
}

ol,ul {
	padding: 0;
	list-style: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

body,html {
	width: 100%;
	height: 100%;
	font: 12px/1.5 "PingFang SC","Hiragino Sans GB","Microsoft YaHei","Helvetica Neue",sans-serif!important;
	color: #333
}

input,textarea {
	font-family: 'Microsoft yahei','新宋体',sans-serif
}

.address_add p i,.address_add_pca i,.circle i,.coupon li i.icon,.coupon_info p i,.coupon_tip,.my_score_vip i,.normal_form p i,.review_app_info i,.tip_score_detail i,em {
	font-style: normal
}

textarea {
	vertical-align: top
}

a {
	text-decoration: none;
	color: #069;
	outline: 0
}

button {
	padding: 4px 1em;
	font-family: 'Microsoft yahei','新宋体';
	cursor: pointer;
	background: #e74165;
	color: #fff
}

label {
	display: inline-block;
	cursor: pointer
}

.align_right {
	text-align: right
}

.align_left {
	text-align: left
}

.align_center {
	text-align: center
}

.align_both_side {
	zoom: 1;
	overflow: hidden
}

.hidden {
	display: none
}

.no_width {
	width: auto
}

.overflow_hidden {
	overflow: hidden
}

.clear {
	clear: both
}

.edge {
	width: 85%;
	margin-left: auto;
	margin-right: auto
}

.row {
	overflow: hidden
}

.col_1 {
	width: 7.1429%
}

.col_2 {
	width: 14.2857%
}

.col_3 {
	width: 21.4286%
}

.col_4 {
	width: 28.5714%
}

.col_5 {
	width: 35.7142%
}

.col_6 {
	width: 42.8571%
}

.col_7 {
	width: 50%
}

.col_8 {
	width: 57.1429%
}

.col_9 {
	width: 64.2857%
}

.col_10 {
	width: 71.4285%
}

.col_11 {
	width: 78.5714%
}

.col_12 {
	width: 85.7143%
}

.col_13 {
	width: 92.8571%
}

.col_14,.col_full {
	width: 100%
}

.cell {
	float: left
}

.col_2_1 {
	width: 50%
}

.col_3_1 {
	width: 33.3333%
}

.col_3_2 {
	width: 66.6667%
}

.col_4_1 {
	width: 25%
}

.col_4_3 {
	width: 75%
}

.col_5_1 {
	width: 20%
}

.col_5_2 {
	width: 40%
}

.col_5_3 {
	width: 60%
}

.col_5_4 {
	width: 80%
}

.col_6_1 {
	width: 16.6667%
}

.col_6_5 {
	width: 83.3333%
}

.col_7_1 {
	width: 14.2857%
}

.col_7_2 {
	width: 28.5724%
}

.col_7_3 {
	width: 42.8571%
}

.col_7_4 {
	width: 57.1429%
}

.col_7_5 {
	width: 71.4286%
}

.col_7_6 {
	width: 85.7143%
}

.col_8_1 {
	width: 12.5%
}

.col_8_3 {
	width: 37.5%
}

.col_8_5 {
	width: 62.5%
}

.col_8_7 {
	width: 87.5%
}

.col_9_1 {
	width: 11.1111%
}

.col_9_2 {
	width: 22.2222%
}

.col_9_4 {
	width: 44.4444%
}

.col_9_5 {
	width: 55.5556%
}

.col_9_7 {
	width: 77.7778%
}

.col_9_8 {
	width: 88.8889%
}

.col_10_1 {
	width: 10%
}

.col_10_3 {
	width: 30%
}

.col_10_7 {
	width: 70%
}

.col_10_9 {
	width: 90%
}

.col_11_1 {
	width: 9.0909%
}

.col_11_2 {
	width: 18.1818%
}

.col_11_3 {
	width: 27.2727%
}

.col_11_4 {
	width: 36.3636%
}

.col_11_5 {
	width: 45.4545%
}

.col_11_6 {
	width: 54.5455%
}

.col_11_7 {
	width: 63.6364%
}

.col_11_8 {
	width: 72.7273%
}

.col_11_9 {
	width: 81.8182%
}

.col_11_10 {
	width: 90.9091%
}

.col_12_1 {
	width: 8.3333%
}

.col_12_5 {
	width: 41.6667%
}

.col_12_7 {
	width: 58.3333%
}

.col_12_11 {
	width: 91.6667%
}

.table {
	display: table
}

.table_cell {
	display: table-cell
}

.check,.progress_bar {
	display: inline-block
}

.line {
	font-size: 0
}

.check {
	font-size: 12px;
	letter-spacing: normal;
	word-spacing: normal;
	vertical-align: top
}

.progress_bar,.tip_num {
	vertical-align: middle;
	text-align: center
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.line {
		letter-spacing: -5px
	}
}

.progress_bar {
	position: relative;
	background: #e7e7e7;
	border-radius: 6px
}

.tab span,.tab span a {
	display: block
}

.progress_bar span {
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	background: #e74165;
	border-radius: 6px
}

.progress_bar b {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	color: #fff;
	font-weight: 400
}

.tab {
	overflow: hidden;
	text-align: center
}

.tab li {
	cursor: pointer
}

.tab .active span {
	border-bottom: 4px solid #e7e7e7
}

.tab span a {
	width: 100%;
	height: 100%
}

.tab .tip_num {
	margin-left: 1em
}

.tip_num {
	display: inline-block;
	width: 16px;
	height: 16px;
	line-height: 16px;
	border-radius: 8px;
	font-size: 9px;
	color: #fff;
	background: #e74165;
	text-indent: 0
}

.address_item {
	overflow: hidden;
	margin-bottom: 24px;
	position: relative;
	border: 2px solid #e7e7e7;
	cursor: pointer
}

.address_item h3,.address_item p {
	font-weight: 400;
	padding: 0 8.3333%;
	line-height: 24px;
	clear: both;
	overflow: hidden
}

.address_item h3 span,.address_item p span {
	width: 18%;
	float: left
}

.address_item h3 b,.address_item p b {
	width: 82%;
	float: left;
	font-weight: 400
}

.address_item p {
	border-top: 1px solid #e7e7e7
}

.address_item h3 input {
	display: none
}

.chip a span,.chip img {
	display: block
}

.address_add {
	overflow: hidden
}

.address_add p {
	clear: both;
	height: 30px;
	line-height: 30px;
	margin-bottom: 8px
}

.address_add p span {
	box-sizing: border-box;
	border: 1px solid #e7e7e7;
	line-height: 28px;
	background: #fff
}

.address_add p span.no_border {
	border: 0
}

.address_add input {
	width: 98%;
	height: 22px;
	line-height: 22px;
	padding: 3px;
	border: 0;
	outline: 0
}

.chip img,.pca_select dt {
	border-bottom: 1px solid #e7e7e7
}

.address_add input.ip_checkbox {
	width: auto;
	margin-right: 1em
}

.address_add p i,.address_add_pca i {
	text-indent: 12px
}

.address_add p i b,.address_add_pca i b {
	color: #e74165;
	margin-right: 12px
}

.address_detail p {
	clear: none
}

.address_detail p span {
	padding-right: 8%;
	background: url(arrow_coupon_down.png?v=20210121144057) right center no-repeat;
	cursor: pointer
}

.address_detail p span input {
	width: 95%;
	cursor: pointer;
	background: 0 0
}

.address_add_pca {
	margin-bottom: 8px;
	line-height: 30px
}

.item_list {
	overflow: hidden
}

.chip {
	margin: 0 auto;
	line-height: 22px
}

.chip a,.chip p {
	display: block;
	width: 180px;
	margin: 0 auto
}

.chip img {
	width: 100%;
	margin-bottom: 12px
}

.copyright {
	color: #818181
}

.header {
	position: relative;
	height: 40px;
	line-height: 40px
}

.header h1 {
	text-align: center
}

.top_link_box {
	position: absolute;
	right: 0;
	top: 0;
	margin-right: 1em
}

.top_link_box em {
	display: none
}

.top_link_box em#emUserName {
	display: inline
}

.pca_select,.pca_select dd div#pcaSelectCity,.pca_select dd div#pcaSelectRegion {
	display: none
}

.top_link_box a {
	margin-left: 1em
}

.header a {
	color: #666
}

.pca_select {
	position: relative;
	background: #fff;
	border: 1px solid #e7e7e7;
	padding: 12px;
	margin-bottom: 8px;
	z-index: 10;
	clear: both
}

.pca_select dt {
	height: 30px;
	line-height: 30px;
	text-align: center;
	margin-bottom: 12px
}

.pca_select dt b {
	cursor: pointer;
	font-weight: 400
}

.pca_select dt b.selected {
	font-weight: 700;
	background: #e7e7e7;
	color: #666
}

.pca_select dd {
	line-height: 24px
}

.pca_select dd div {
	min-height: 96px;
	height: auto
}

.pca_select dd span {
	display: inline-block;
	margin: 0 8px;
	padding: 0 8px;
	cursor: pointer
}

.pca_select dd span.selected {
	background-color: #ccc;
	color: #fff
}

.pca_select p {
	margin-top: 12px;
	text-align: center
}

.msg_info {
	background-color: #FFF;
	box-shadow: 0 0 12px #000;
	display: none;
	position: absolute;
	left: 50%;
	top: 380px;
	width: 460px;
	z-index: 10001;
	border: 1px solid #ccc
}

.msg_info .info_close {
	background-position: 0 -1269px;
	height: 15px;
	position: absolute;
	right: 12px;
	top: 9px;
	width: 15px;
	line-height: 15px;
	overflow: hidden;
	text-indent: -9999px
}

.cr_select,.msg_info_tit {
	position: relative
}

.my_message_tip h3,.my_title {
	text-indent: 24px
}

.msg_info_tit {
	color: #666;
	cursor: pointer;
	height: 34px;
	padding: 0 12px
}

.msg_info_tit span {
	line-height: 34px
}

.msg_info table {
	width: 100%
}

.msg_info .title_bg th {
	background: #ccc;
	color: #FFF;
	font-weight: 400;
	line-height: 30px;
	text-align: center
}

.msg_info table .han_hui,.normal_tit {
	background: #efefef
}

.msg_info table td {
	color: #666;
	line-height: 30px;
	text-align: center
}

.msg_info_con {
	padding: 0 12px 12px
}

.normal_pop {
	width: 350px;
	display: block
}

.normal_tit .info_close {
	background-position: 0 -1269px
}

.msg_info_con .con {
	text-align: center;
	padding: 25px
}

.msg_info_con .con .txt {
	padding-bottom: 25px
}

.msg_info button {
	padding: 6px 2em;
	margin: 0 4px;
	background: #efefef;
	border: 1px solid #ccc;
	color: #666
}

.calendar {
	display: none;
	margin: 8px 0
}

.calendar_title {
	line-height: 3;
	text-align: center;
	background: #767676;
	color: #fff;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-select: none;
	-ms-select: none;
	user-select: none
}

.calendar_title b {
	padding: 0 1em;
	margin: 0 .2em;
	cursor: pointer
}

.calendar_title span {
	margin: 0 1em
}

.calendar_date {
	overflow: hidden;
	margin-bottom: 8px;
	border: 1px solid #e9e9e9;
	border-width: 0 1px;
	color: #666
}

.calendar_date span {
	display: block;
	width: 14.2857%;
	float: left;
	text-align: center;
	line-height: 3
}

.calendar_date b {
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid #e9e9e9;
	border-width: 0 1px 1px 0;
	font-weight: 400;
	cursor: pointer
}

.blank_tip_no,.cr_select p,.error_link a,.error_tip b,.error_tip span {
	display: inline-block
}

.calendar_date .curr b {
	background-color: #fcc;
	color: #fff
}

.calendar_date .disable b {
	color: #ccc;
	cursor: default
}

.calendar_date .selected b {
	background-color: #09c;
	color: #fff
}

.calendar_day {
	background: #e9e9e9
}

.error {
	margin: 0 auto;
	padding: 72px 0;
	text-align: center
}

.error_tip {
	height: 60px;
	margin-bottom: 24px
}

.error_tip p {
	line-height: 30px;
	font-size: 20px
}

.error_tip span {
	width: 64px;
	height: 60px;
	margin-right: 1em;
	line-height: 10;
	overflow: hidden;
	vertical-align: top
}

.error_tip span.error_500 {
	background: url(icon_error.png?v=20210121144057) center center no-repeat
}

.error_tip span.error_404 {
	background: url(icon_404.png?v=20210121144057) center center no-repeat
}

.error_tip b {
	height: 60px;
	line-height: 30px;
	font-weight: 400
}

.error_link {
	padding: 56px 0
}

.error_link a {
	line-height: 2;
	padding-left: 30px;
	margin: 0 2em
}

.error_link .link_back {
	background: url(icon_back.png?v=20210121144057) left center no-repeat
}

.error_link .link_home {
	background: url(icon_home.png?v=20210121144057) left center no-repeat
}

.error_service a {
	margin-left: 1em
}

.blank_tip {
	line-height: 30;
	text-align: center;
	font-size: 18px
}

.blank_tip_short {
	line-height: 10
}

.blank_tip_no {
	width: 57px;
	height: 72px;
	margin-right: 32px;
	padding-bottom: 24px;
	vertical-align: middle;
	background: url(icon_blank.png?v=20210121144057) no-repeat;
	overflow: hidden;
	line-height: 100
}

.cr_select p {
	padding-right: 18px;
	background: url(arrow_coupon_down.png?v=20210121144057) right 50% no-repeat;
	cursor: pointer
}

.cr_select ul {
	position: absolute;
	left: 0;
	top: 24px;
	display: none;
	min-width: 40%;
	width: auto;
	padding: 4px;
	border: 1px solid #ebebeb;
	box-shadow: 2px 2px 4px #ebebeb;
	background: #fff
}

.cr_select li {
	margin: 1px 0;
	padding: 0 12px;
	cursor: pointer;
	line-height: 20px;
	font-size: 11px
}

.cr_select li.selected,.cr_select li:hover {
	background: #ebebeb
}

.loading {
	height: 180px;
	background: url(bg_loading.gif?v=20210121144057) center center no-repeat
}

.top_float {
	width: 32px;
	height: auto;
	position: fixed;
	right: 10px;
	bottom: 10px;
	z-index: 840
}

.top_float_frame {
	width: 100%;
	height: 100%
}

.top_float .top_float_frame a {
	display: block;
	cursor: pointer;
	font-family: arial;
	text-align: center;
	text-decoration: none;
	color: #fff;
	background-color: #bbb;
	margin-top: 1px;
	line-height: 1.2;
	padding: .2em 0
}

.gotop_icon,.shopping_icon {
	background: url(icon.png?v=20210121144057) -60px -1080px no-repeat #999;
	width: 32px;
	height: 30px;
	line-height: 20px;
	font-size: 10px;
	overflow: hidden;
	filter: alpha(opacity=50);
	opacity: .5
}

.shopping_icon {
	background-position: 8px -2130px;
	margin-bottom: 10px
}

.gotop_icon:hover,.shopping_icon:hover {
	background-color: #666;
	text-decoration: none
}

.gotop_icon:active,.shopping_icon:active {
	background-color: #333;
	text-decoration: none
}

.pop_cart_num {
	position: absolute;
	left: 26px;
	top: -4px;
	padding: 0 3px;
	line-height: 12px;
	filter: alpha(opacity=80);
	opacity: .8;
	background-color: #a70432;
	font-size: 9px;
	border-radius: 6px
}

.tip_score,.tip_score_detail {
	line-height: 3;
	text-align: center
}

.pop_cart_num:hover {
	color: #FFF;
	background-color: #c03;
	text-decoration: none
}

.tip_score {
	font-size: 14px
}

.tip_score_detail {
	border-bottom: 1px solid #ebebeb
}

.tip_score_detail span {
	margin: 0 1em
}

.tip_score_detail span.last {
	display: none
}

.my_main .item_list {
	zoom: 1;
	letter-spacing: -.5em
}

.my_main ul.item_list li.cell {
	float: none
}

.my_main .item_list .col_4_1 {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top
}

.my_container {
	background: #f4f3f3;
	padding: 10px 0
}

.my_content {
	position: relative;
	width: 85%;
	margin: 0 auto
}

.my_main,.my_side_nav {
	position: relative;
	background: #fff;
	border-top: 4px solid #e74165
}

.my_side_nav {
	z-index: 2;
	min-height: 915px
}

.my_main {
	min-height: 938px
}

.my_aside {
	padding: 24px 10px;
	border: 1px solid #e7e7e7
}

.my_side_nav dd p,.my_side_nav dt {
	padding-left: 26px
}

.my_name {
	margin-bottom: 24px
}

.my_name h3 {
	font-size: 16px;
	word-wrap: break-word;
	margin: 12px 0;
	text-align: center
}

.my_name p {
	text-align: center;
	font-size: 14px
}

.my_name p a {
	font-size: 12px
}

.my_name p .btn_invitation {
	display: block;
	margin: 8px auto 0;
	width: 80%;
	font-size: 12px;
	line-height: 1.8;
	background: #A70432;
	color: #fff;
	cursor: pointer
}

.my_qrcode_frame {
	position: relative;
	width: 100%;
	margin: 24px 0
}

.my_name .my_qrcode {
	display: block;
	width: 100%;
	height: 30px;
	margin: 0 auto;
	background: url(icon_qrcode.png?v=20210121144057) center center no-repeat;
	line-height: 888em;
	overflow: hidden
}

.my_name .my_qrcode_img,.my_name .my_qrcode_img:before {
	position: absolute;
	border: 1px solid #c6c6c6;
	background: #fff
}

.my_name .my_qrcode_img {
	display: none;
	left: 90%;
	top: -100%;
	width: 160px;
	text-align: center;
	box-shadow: 1px 1px 5px #c6c6c6
}

.my_name .my_qrcode_img p {
	padding-bottom: 12px
}

.my_name .my_qrcode_img:before {
	left: -11px;
	top: 30px;
	content: '';
	width: 20px;
	height: 20px;
	border-width: 1px 1px 0 0;
	transform: rotate(-135deg)
}

.my_message_tip,.my_title {
	border-left: 4px solid #e74165
}

.my_side_nav dt,.system_message_content,.table_bind_vip th {
	border-top: 1px solid #efefef
}

.my_side_nav dt {
	line-height: 36px;
	margin-bottom: 4px;
	font-size: 18px;
	background: left center no-repeat
}

.my_side_nav dd {
	line-height: 24px;
	margin-bottom: 24px
}

.my_side_nav dt.my_i_order {
	background-image: url(icon_my_order.png?v=20210121144057)
}

.my_side_nav dt.my_i_interaction {
	background-image: url(icon_my_interaction.png?v=20210121144057)
}

.my_side_nav dt.my_i_right {
	background-image: url(icon_my_right.png?v=20210121144057)
}

.my_side_nav dt.my_i_profile {
	background-image: url(icon_my_profile.png?v=20210121144057)
}

.my_side_nav dt.my_i_faq {
	background-image: url(icon_my_faq.png?v=20210121144057)
}

.my_aside dl a {
	display: block;
	width: 100%;
	height: 100%;
	color: #666
}

.my_aside dl a sup {
	color: red;
	margin-left: 4px
}

.my_aside dl p.active a {
	color: #e74165
}

.my_message_tip {
	display: none;
	height: 38px;
	line-height: 38px;
	background: #e1dfdf;
	color: #666
}

.my_message_tip span {
	margin-left: 8px
}

.my_message_close {
	text-align: right
}

.my_message_close b {
	display: inline-block;
	width: 32px;
	height: 32px;
	line-height: 30px;
	vertical-align: middle;
	margin-right: 1em;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	font-weight: 400
}

.my_score {
	overflow: hidden;
	padding: 24px 0
}

.my_score_1 {
	padding-left: 8.3333%
}

.my_score dt {
	font-size: 18px;
	line-height: 36px
}

.my_score dt a {
	font-size: 14px;
	margin-left: 12px
}

.my_score dd {
	font-size: 24px;
	line-height: 42px;
	color: #e74165
}

.my_score_vip {
	line-height: 36px
}

.my_score_vip .progress_bar {
	width: 72px;
	height: 12px;
	font-size: 10px;
	line-height: 12px
}

.my_caption,.my_title {
	line-height: 48px;
	background: #f1f1f1;
	font-weight: 400
}

.my_score_vip a {
	margin-left: .5em
}

.my_score_vip i {
	margin: 0 1em;
	color: #ccc
}

.my_score_vip span#btnOrderVipState {
	display: none
}

.my_title {
	position: relative;
	font-size: 20px
}

.my_title a {
	position: absolute;
	right: 12px;
	top: 0;
	font-size: 12px;
	text-indent: 0;
	padding: 0 12px
}

.my_caption {
	position: relative;
	font-size: 20px
}

.my_caption span {
	display: inline-block;
	text-align: center;
	border-bottom: 4px solid #e74165
}

.review_edit td,.review_item,.sign_result_score,.system_message_item,.table_bind_vip td,.table_bind_vip th {
	border-bottom: 1px solid #efefef
}

.my_item_content {
	margin: 24px auto
}

.my_item .cart_table td,.my_item .cart_table th {
	text-align: center;
	font-size: 14px
}

.my_item .cart_table td {
	font-size: 18px;
	color: #666
}

.my_item .cart_table td b {
	color: #333;
	font-weight: 400
}

.my_item_product {
	display: table;
	margin: 0 auto;
	overflow: hidden;
	text-align: left
}

.my_item_product img {
	float: left;
	margin-right: 12px
}

.my_item_product p {
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	line-height: 24px
}

.my_item_product p span {
	font-size: 11px
}

.my_item_action,.my_item_status,.review {
	font-size: 14px;
	line-height: 24px
}

.review {
	margin: 24px auto
}

.review_item {
	overflow: hidden;
	padding: 24px 4.1667%
}

.review_item p {
	margin-bottom: 8px
}

.review_app_info {
	float: right
}

.review_text {
	font-weight: 700;
	color: #333
}

.review_date {
	font-size: 12px;
	color: #666
}

.review_app_info a {
	color: #0d5b83
}

.review_app_info span {
	color: #333;
	margin-right: 2em
}

.review_app_info i {
	color: #666
}

.review_app_info img {
	float: left;
	margin-right: 8px
}

.review_edit,.review_edit table,.system_message {
	margin: 24px auto
}

.review_edit .my_title {
	font-weight: 400;
	font-size: 16px
}

.review_edit .my_title span {
	display: inline-block
}

.review_edit td {
	padding: 24px 0
}

.review_edit table p {
	line-height: 2;
	font-size: 14px
}

.review_edit textarea {
	width: 85%;
	height: 90px;
	padding: 6px;
	border: 1px solid #efefef;
	font-size: 12px;
	line-height: 18px
}

.review_edit button {
	padding: 4px 1em
}

.system_message_item {
	position: relative;
	padding: 24px 4.1667%
}

.system_message_item h3 {
	margin-bottom: 12px;
	font-size: 14px;
	color: #333
}

.system_message_item span {
	float: right;
	font-weight: 400;
	color: #666
}

.system_message_item h3 b {
	display: inline-block;
	margin-left: 1em;
	padding: 0 2px;
	line-height: 14px;
	border-radius: 2px;
	color: #fff;
	background: #e74165;
	font-size: 12px;
	font-weight: 400
}

.system_message_item b.btn_delete {
	display: inline-block;
	width: 22px;
	height: 36px;
	overflow: hidden;
	background: url(icon_del.png?v=20210121144057) no-repeat;
	line-height: 20;
	cursor: pointer
}

.system_message_item b.btn_read {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 5.5556%;
	margin-left: -2.7778%;
	line-height: 18px;
	text-align: center;
	background: #ccc;
	color: #fff;
	cursor: pointer
}

.system_message_back {
	padding: 24px 4.1667%
}

.system_message_content {
	margin: 24px 0 0;
	padding: 24px 0 0;
	line-height: 2.5;
	text-indent: 2em
}

.page_num {
	padding: 24px 0;
	text-align: center;
	font-size: 14px
}

.page_num a,.page_num span {
	padding: 4px;
	margin: 0 2px
}

.page_num span {
	color: #069;
	font-weight: 700
}

.my_cont {
	margin: 24px auto
}

.table_bind_vip {
	margin-bottom: 1em;
	line-height: 3;
	text-align: center
}

.copyright {
	height: auto;
	padding: 36px 0;
	text-align: center;
	background: url(bg_my_footer.png?v=20210121144057) left bottom repeat-x #f4f3f3
}

.copyright_inner {
	margin: 0 auto;
	padding: 80px 0 0
}

.copyright p {
	line-height: 36px;
	color: #818181
}

.copyright a {
	color: #666
}

.footer_ochirly {
	background: url(brand_ochirly.png?v=20210121144057) center 12px no-repeat
}

.footer_fiveplus {
	background: url(brand_fiveplus.png?v=20210121144057) center 12px no-repeat
}

.footer_trendiano {
	background: url(brand_trendiano.png?v=20210121144057) center 12px no-repeat
}

.sign_result {
	position: absolute;
	width: 100%;
	min-height: 100%;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.5);
	z-index: 555
}

.sign_result_inner {
	position: absolute;
	width: 280px;
	left: 50%;
	top: 0;
	margin-left: -140px;
	background: #fff
}

.sign_result_inner h3 {
	line-height: 2.4;
	background: #efefef;
	text-align: center;
	font-size: 1.2em;
	font-weight: 700
}

.sign_result_inner h3 span {
	margin-left: 12px
}

.sign_result_inner h3 em {
	position: absolute;
	width: 32px;
	top: 2px;
	right: 0;
	font-weight: 400;
	color: #777;
	font-size: 1rem;
	cursor: pointer
}

.sign_result_content {
	padding: 1em
}

.sign_result_score {
	text-align: center;
	line-height: 4;
	margin-bottom: 1em
}

.sign_result_score span {
	margin: 0 .5em;
	color: red
}

.sign_result_tip {
	line-height: 2;
	padding: 0 3em;
	color: #777
}

.invitation_inner {
	width: 420px;
	margin-left: -210px;
	text-align: center
}

.invitation_inner h4 {
	line-height: 2.4;
	font-size: 1.2em;
	padding-top: 8px
}

.invitation_text {
	margin: 2em 0
}

.invitation_text p {
	line-height: 2
}

.invitation_text textarea {
	display: block;
	width: 90%;
	height: 4em;
	margin: 1em auto;
	padding: 4px;
	border: 1px solid #ccc;
	font-size: 11px
}

.my_container_with_roulette {
	min-width: 1200px
}

.roulette_frame {
	padding-top: 56px
}

.roulette_view {
	float: right;
	height: 376px;
	min-width: 760px;
	margin-bottom: 56px
}

.roulette {
	float: left;
	position: relative;
	width: 376px;
	height: 376px;
	background: url(roulette/roulette.png?v=20210121144057) no-repeat;
	z-index: 2
}

.roulette_center {
	position: absolute;
	width: 138px;
	height: 138px;
	left: 50%;
	top: 50%;
	margin: -69px 0 0 -69px;
	cursor: pointer
}

.roulette_finger {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url(roulette/roulette_center.png?v=20210121144057) center center no-repeat
}

.roulette_finger span {
	position: absolute;
	width: 30px;
	height: 15px;
	left: 50%;
	top: -13px;
	margin-left: -15px;
	background: url(roulette/roulette_finger.png?v=20210121144057) no-repeat;
	text-indent: -99em;
	overflow: hidden
}

.roulette_finger_move {
	-o-transition: all linear;
	transition: all linear
}

.roulette_text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
	padding: 34px 0;
	text-align: center;
	color: #fff;
	font-size: 28px;
	line-height: 35px
}

.roulette_role,.roulette_winner {
	position: relative;
	background: #fff8e3
}

.roulette_role {
	top: 50px;
	max-height: 190px;
	margin: 0 0 0 188px;
	padding: 4em 0 4em 220px;
	line-height: 2
}

.roulette_role h4 {
	font-weight: 400;
	font-size: 18px;
	color: #a70432;
	margin-bottom: .5em
}

.roulette_winner {
	clear: both;
	width: auto;
	height: 72px;
	padding: 12px 36px 12px 126px;
	margin: 56px 0 0
}

.roulette_item_2_1,.roulette_item_2_2,.roulette_item_3_1,.roulette_item_3_2,.roulette_item_3_3,.roulette_item_4_1,.roulette_item_4_2,.roulette_item_4_3,.roulette_item_4_4,.roulette_item_5_1,.roulette_item_5_2,.roulette_item_5_3,.roulette_item_5_4,.roulette_item_5_5,.roulette_item_6_1,.roulette_item_6_2,.roulette_item_6_3,.roulette_item_6_5,.roulette_item_6_6,.roulette_item_7_1,.roulette_item_7_2,.roulette_item_7_3,.roulette_item_7_4,.roulette_item_7_5,.roulette_item_7_6,.roulette_item_7_7,.roulette_item_8_1,.roulette_item_8_2,.roulette_item_8_3,.roulette_item_8_4,.roulette_item_8_5,.roulette_item_8_6,.roulette_item_8_7,.roulette_item_8_8 {
	margin: -36px 0 0 -30px
}

.roulette_winner dt {
	position: absolute;
	left: 36px;
	top: -10px;
	width: 90px;
	height: 100%;
	padding: 10px 0 0;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 1.2;
	background: #a70432
}

.roulette_item,.roulette_list {
	position: absolute;
	background: center center no-repeat
}

.roulette_winner dt:after {
	content: '';
	display: block;
	position: absolute;
	left: 100%;
	top: 0;
	border: 5px solid #a70432;
	border-color: #fff #fff #a70432 #a70432
}

.roulette_winner dd {
	padding-left: 36px;
	line-height: 24px
}

.roulette_winner dd span {
	display: inline-block;
	width: 33%;
	text-indent: 2em
}

.roulette_list {
	left: 0;
	top: 0;
	width: 100%;
	height: 100%
}

.roulette_item {
	width: 60px;
	height: 72px;
	text-indent: -20em;
	overflow: hidden
}

.roulette_list_2 {
	background-image: url(roulette/bg_rou_line_2.png?v=20210121144057)
}

.roulette_list_3 {
	background-image: url(roulette/bg_rou_line_3.png?v=20210121144057)
}

.roulette_list_4 {
	background-image: url(roulette/bg_rou_line_4.png?v=20210121144057)
}

.roulette_list_5 {
	background-image: url(roulette/bg_rou_line_5.png?v=20210121144057)
}

.roulette_list_6 {
	background-image: url(roulette/bg_rou_line_6.png?v=20210121144057)
}

.roulette_list_7 {
	background-image: url(roulette/bg_rou_line_7.png?v=20210121144057)
}

.roulette_list_8 {
	background-image: url(roulette/bg_rou_line_8.png?v=20210121144057)
}

.roulette_item_2_1 {
	left: 80%;
	top: 50%
}

.roulette_item_2_2 {
	left: 20%;
	top: 50%
}

.roulette_item_3_1 {
	left: 75%;
	top: 35%
}

.roulette_item_3_2 {
	left: 50%;
	top: 80%
}

.roulette_item_3_3 {
	left: 25%;
	top: 35%
}

.roulette_item_4_1 {
	left: 75%;
	top: 30%
}

.roulette_item_4_2 {
	left: 75%;
	top: 70%
}

.roulette_item_4_3 {
	left: 25%;
	top: 70%
}

.roulette_item_4_4 {
	left: 25%;
	top: 30%
}

.roulette_item_5_1 {
	left: 70%;
	top: 25%
}

.roulette_item_5_2 {
	left: 80%;
	top: 60%
}

.roulette_item_5_3 {
	left: 50%;
	top: 80%
}

.roulette_item_5_4 {
	left: 20%;
	top: 60%
}

.roulette_item_5_5 {
	left: 30%;
	top: 25%
}

.roulette_item_6_1 {
	left: 65%;
	top: 23%
}

.roulette_item_6_2 {
	left: 80%;
	top: 50%
}

.roulette_item_6_3 {
	left: 65%;
	top: 78%
}

.roulette_item_6_4 {
	left: 35%;
	top: 78%;
	margin: -36px 0 0 -30px
}

.roulette_item_6_5 {
	left: 20%;
	top: 50%
}

.roulette_item_6_6 {
	left: 35%;
	top: 23%
}

.roulette_item_7_1 {
	left: 62%;
	top: 21%
}

.roulette_item_7_2 {
	left: 80%;
	top: 43%
}

.roulette_item_7_3 {
	left: 75%;
	top: 70%
}

.roulette_item_7_4 {
	left: 50%;
	top: 80%
}

.roulette_item_7_5 {
	left: 25%;
	top: 70%
}

.roulette_item_7_6 {
	left: 20%;
	top: 43%
}

.roulette_item_7_7 {
	left: 36%;
	top: 21%
}

.roulette_item_8_1 {
	left: 62%;
	top: 20%
}

.roulette_item_8_2 {
	left: 80%;
	top: 38%
}

.roulette_item_8_3 {
	left: 80%;
	top: 62%
}

.roulette_item_8_4 {
	left: 62%;
	top: 80%
}

.roulette_item_8_5 {
	left: 38%;
	top: 80%
}

.roulette_item_8_6 {
	left: 20%;
	top: 62%
}

.roulette_item_8_7 {
	left: 20%;
	top: 38%
}

.roulette_item_8_8 {
	left: 38%;
	top: 20%
}

.roulette_address {
	display: none;
	position: relative;
	background: #fff
}

.roulette_address h4 {
	font-size: 16px;
	line-height: 3;
	text-align: center;
	background: #f1f1f1;
	font-weight: 400
}

.roulette_address h2 {
	font-size: 18px;
	line-height: 6;
	text-align: center;
	font-weight: 400
}

.roulette_address h2 span {
	color: #e74165;
	margin: 0 .2em
}

.roulette_address .checkout_address {
	margin: 12px auto 24px
}

.roulette_address .checkout_address .address_item {
	display: block;
	margin-bottom: 8px;
	border: 0;
	background: url()
}

#linkToRoulette,.roulette_result {
	display: none
}

.roulette_address .checkout_address .address_item:hover {
	border-color: red
}

.roulette_address .address_add {
	margin: 12px auto
}

.roulette_address .address_item p {
	font-size: 14px;
	border: 0;
	margin-bottom: 8px;
	background: url(roulette/btn_uncheck.png?v=20210121144057) 3.6% center no-repeat
}

.roulette_address .address_item.selected p {
	background-image: url(roulette/btn_checked.png?v=20210121144057)
}

.roulette_address_select {
	background: #f3f2f2;
	padding-bottom: 24px
}

.roulette_address_title {
	margin: 0 auto;
	font-size: 16px;
	line-height: 3
}

.roulette_address_select .address_detail p span {
	background-color: #fff
}

.roulette_address .address_blank {
	text-align: center;
	line-height: 3;
	margin-bottom: 1em
}

.roulette_address .roulette_address_submit {
	text-align: center;
	margin: 3em 0
}

.roulette_address .roulette_address_submit button {
	width: 20%
}

.roulette_result thead th {
	background: #f1f1f1
}

.roulette_record {
	line-height: 3;
	text-align: right;
	padding: 0 1em
}

.cart_tip,.checkout_step h3,.login_footer,.login_oauth,.qty_num_edit em,.tip_blank_record,table.cart_table {
	text-align: center
}

.tip_blank_record {
	line-height: 10
}

.exchange_product .chip_price>a {
	display: block;
	padding: .5em 0;
	font-weight: 700
}

.exchange_tip {
	width: 90%;
	margin: 0 auto;
	color: #777
}

.exchange_tip p {
	padding: 0;
	margin: 0
}

.exchange_tip p:first-child {
	font-weight: 700
}

.login_header {
	width: 100%;
	height: 36px;
	display: none
}

.login_header h1 {
	text-indent: -999em
}

.login {
	position: relative;
	min-width: 950px;
	height: 100%;
	min-height: 445px;
	background: url(blank.gif?v=20210121144057) center center no-repeat;
	background-size: cover
}

.login_form {
	position: absolute;
	z-index: 2;
	padding: 20px 0;
	margin: 0 0 0 80px;
	left: 50%;
	top: 20%;
	border: 1px solid #ccc;
	background: #fff
}

.login_content,.login_form h3 {
	padding: 0 30px
}

.login_form h3 {
	height: 26px;
	line-height: 26px;
	margin-bottom: 8px
}

.login_content p {
	position: relative;
	height: 30px;
	line-height: 30px;
	margin-bottom: 8px
}

.login_content input.text,.login_content input[type=text],.login_content input[type=password] {
	width: 97%;
	height: 20px;
	padding: 3px;
	border: 1px solid #f0f0ef;
	line-height: 20px
}

.login_content input.short {
	width: 50%
}

.login_content input.verify_error {
	border-color: #ffb7c8
}

.login_content button {
	width: 100%;
	padding: .4rem 0;
	color: #fff;
	background-color: #f93d69;
	margin: 6px 0
}

.login_content p button {
	width: auto;
	height: 28px;
	margin: 0;
	padding: 0 8px;
	vertical-align: middle
}

.login_content p button.btn_disabled {
	background-color: #999
}

.login_content p.align_both_side a {
	float: right
}

.login_content img.auth_code {
	height: 30px
}

.login_content p label.lb_placeholder {
	position: absolute;
	display: none;
	left: 0;
	top: 0;
	width: 100%;
	line-height: 30px;
	text-indent: 5px
}

.login_content p label.lb_short {
	width: 50%
}

.login_oauth {
	padding: 24px 30px 0;
	background: url(bg_login.png?v=20210121144057) center top no-repeat
}

.login_oauth a {
	display: inline-block;
	overflow: hidden;
	width: 28px;
	height: 28px;
	margin: 0 1em;
	line-height: 20
}

.login_oauth a.link_login_alipay {
	background: url(logo_login_alipay.png?v=20210121144057) center center no-repeat
}

.login_oauth a.link_login_weixin {
	background: url(logo_login_weixin.png?v=20210121144057) center center no-repeat
}

.login_oauth a.link_login_qq {
	background: url(logo_login_qq.png?v=20210121144057) center center no-repeat
}

.login_oauth a.link_login_weibo {
	background: url(logo_login_weibo.png?v=20210121144057) center center no-repeat
}

.login .tab {
	margin: 0 30px 8px;
	line-height: 28px;
	background: #f1f1f1
}

.login .tab .active span {
	border-color: #e74064;
	color: #e74064
}

.login .tab .active a {
	color: #e74064
}

.login_form_tip {
	margin: 0 30px 18px;
	color: #999
}

.login_footer {
	width: 100%;
	line-height: 36px;
	padding-bottom: 24px
}

.link_login_to_home {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1;
	text-indent: -999em;
	outline: 0
}

.cart,.checkout_step {
	width: auto;
	margin: 0 auto
}

.cart_container {
	position: relative;
	background: #f4f3f3;
	padding: 10px 0
}

.checkout_step {
	background: #fff;
	border-top: 4px solid #e74165
}

.checkout_step h3 {
	font-size: 18px;
	padding: 24px 0;
	font-weight: 400
}

.checkout_step p {
	height: 90px;
	line-height: 8888em;
	overflow: hidden
}

.checkout_step p.step1 {
	background: url(buy_step_1.png?v=20210121144057) center center no-repeat
}

.checkout_step p.step2 {
	background: url(buy_step_2.png?v=20210121144057) center center no-repeat
}

.cart {
	background: #fff
}

.cart_tip {
	position: relative;
	width: 100%;
	height: 36px;
	padding: 0 10px;
	margin: 0 0 0 -10px;
	line-height: 36px;
	font-size: 14px;
	color: #fff;
	background: #ed94b8
}

.cart_tip:after,.cart_tip:before {
	content: "";
	border-top: 10px solid #ba506c;
	width: 0;
	height: 0;
	position: absolute;
	top: 100%;
	display: block
}

.cart_tip:after {
	border-left: 10px solid transparent;
	left: 0
}

.cart_tip:before {
	border-right: 10px solid transparent;
	right: 0
}

.cart_content {
	margin: 0 auto
}

table.cart_table {
	width: 100%;
	font-size: 14px
}

table.cart_table th {
	height: 46px;
	line-height: 46px;
	border-bottom: 1px solid #f3f3f3
}

table.cart_table td {
	padding: 6px 0;
	border-bottom: 1px solid #f3f3f3
}

.size_package a {
	padding-right: 18px;
	background: url(arrow_coupon_down.png?v=20210121144057) right 50% no-repeat
}

.qty_num_edit {
	width: 50px;
	height: 20px;
	border: 1px solid #e5e5e5;
	position: relative;
	margin: 0 auto 6px
}

.qty_num_edit input {
	width: 46px;
	height: 16px;
	line-height: 16px;
	border: 0;
	padding: 2px;
	text-align: center;
	font-size: 10px;
	color: #666;
	vertical-align: top
}

.qty_num_edit em {
	display: block;
	overflow: hidden;
	width: 10px;
	height: 10px;
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 8px;
	line-height: 90;
	cursor: pointer;
	background: url(btn_arrow_up_down.png?v=20210121144057) left -10px no-repeat
}

.qty_num_edit em.btn_num_plus {
	top: 0;
	bottom: auto;
	background-position: left top
}

.order_total {
	width: auto;
	margin: 0 auto
}

.order_total_action {
	padding: 24px;
	font-size: 14px
}

.order_total_action a,.order_total_action label {
	margin-right: 2em
}

.order_total_sum {
	background: #fff;
	text-align: right;
	padding: 24px
}

.checkout_item_detail_2,.checkout_item_detail_3,.coupon li b,.order_sum h3 {
	text-align: center
}

.order_total_sum p {
	margin-bottom: 12px
}

.order_total_sum span {
	font-size: 24px
}

.order_total_sum span#cartTotalPrice {
	color: #d7261c
}

.order_total_sum button {
	padding: 4px 36px
}

.checkout {
	width: auto;
	margin: 0 auto;
	background: #fff;
	padding: 50px 0
}

.checkout_list {
	width: 94.4444%;
	margin-bottom: 2em
}

.checkout_cart h2 {
	padding-left: 6.25%;
	line-height: 60px;
	border-top: 1px solid #e9e9e9;
	font-size: 16px;
	font-weight: 200
}

.checkout_cart .checkout_list h3 {
	line-height: 1;
	font-size: 14px;
	font-weight: 200;
	margin-top: 2em
}

.checkout_cart h2 a {
	margin-left: 1em
}

.checkout_list table {
	margin-left: 5.89%;
	font-size: 14px
}

.checkout_item p.p_text,.checkout_item_detail dt {
	color: #666;
	font-size: 12px
}

.checkout_list table td {
	padding: 12px;
	border-bottom: 1px solid #e9e9e9
}

.checkout_list table tr:last-child td {
	border: 0
}

.checkout_item p {
	margin-bottom: 4px
}

.checkout_item p.p_text {
	margin-bottom: 8px
}

.checkout_item_detail {
	overflow: hidden;
	zoom: 1
}

.checkout_item_detail dl {
	line-height: 28px
}

.checkout_item_detail_3 dd {
	font-weight: 700;
	font-size: 16px
}

.checkout_item_detail_3 dd b {
	color: #ca291e;
	font-size: 12px;
	font-style: normal
}

.order_message_frame {
	padding: 18px 6.25%;
	border: 1px solid #e7e7e7;
	border-top: 0;
	background: #f1f1f1
}

.order_message {
	border: 1px solid #e9e9e9
}

.order_message textarea {
	width: 96%;
	min-width: 96%;
	max-width: 96%;
	padding: 2%;
	font-size: 12px;
	height: 18px;
	line-height: 18px;
	border: 0
}

.order_sum {
	font-size: 14px;
	border: 1px solid #e7e7e7;
	background: #f1f1f1;
	padding: 0 6.25%
}

.order_sum h3 {
	line-height: 46px;
	border-bottom: 1px solid #ddd
}

.order_sum p {
	height: 70px;
	line-height: 70px;
	clear: both;
	border-bottom: 1px solid #e7e7e7
}

.order_sum p.last,.order_sum p.order_sum_coupon {
	border: 0
}

.order_sum p span {
	float: left
}

.order_sum p b {
	float: right;
	color: #ca291e;
	font-size: 18px
}

.checkout_total button.btn_checkout {
	display: block;
	width: 93.75%;
	margin: 20px auto 0;
	padding: 12px 0
}

.checkout .address_add {
	margin: auto auto 24px 11.1111%
}

.coupon {
	border-bottom: 1px solid #e7e7e7;
	color: #666
}

.coupon li {
	clear: both;
	zoom: 1;
	overflow: hidden
}

.coupon li b {
	float: right;
	cursor: pointer;
	width: 28px;
	height: 28px;
	line-height: 280px;
	overflow: hidden;
	font-size: 11px;
	background: url(icon_unused.png?v=20210121144057) center center no-repeat
}

.coupon li b.btn_disable {
	cursor: not-allowed;
	background: url(icon_invalid.png?v=20210121144057) center center no-repeat
}

.coupon li b.btn_used {
	background-image: url(icon_used.png?v=20210121144057)
}

.coupon_used {
	padding: 12px 0;
	line-height: 28px;
	border-top: 1px dashed #d3d3d3
}

.coupon_used a {
	text-align: right;
	font-size: 11px
}

.coupon li i.icon {
	margin: 7px 8px 0 0;
	padding: 0 4px;
	border-radius: 2px;
	font-size: 12px;
	line-height: 14px;
	color: #fff
}

.coupon li .icon_red {
	background: #e50c65
}

.coupon li .icon_yellow {
	background: #ea5307
}

.coupon_select {
	position: relative;
	margin: 12px 0
}

.coupon_input {
	height: 28px;
	margin-bottom: 4px
}

.coupon_input span {
	border: 1px solid #e7e7e7;
	height: 26px;
	background: #fff
}

.coupon_input span input {
	display: block;
	height: 26px;
	width: 95%;
	border: 0;
	line-height: 26px;
	padding: 0 3px
}

.coupon_input button {
	float: right;
	height: 28px;
	background: #ca291e;
	font-size: 12px
}

.coupon_list {
	display: none;
	position: absolute;
	left: 0;
	top: 27px;
	background: #fff;
	line-height: 28px;
	border: 1px solid #e7e7e7;
	border-bottom: 0
}

.coupon_list li {
	height: 28px;
	border-bottom: 1px solid #e7e7e7;
	padding: 0 1rem;
	font-size: 12px;
	cursor: pointer
}

.coupon_list li:hover {
	background-color: #e7e7e7
}

.checkout_address {
	margin: auto auto 24px 11.1111%
}

.checkout_address .address_item {
	display: none;
	padding: 0 8.3333%
}

.checkout_address div.selected {
	display: block;
	border: 2px solid #e74165;
	background: url(icon_checked.png?v=20210121144057) right bottom no-repeat
}

.checkout_address .address_add {
	margin-top: 24px
}

.checkout_address button {
	background-color: #d7d7d7
}

.checkout_address div.selected_normal {
	display: block;
	border: 0!important;
	background: 0 0
}

.favorite li input,.rechoose {
	display: none
}

.order_list_tab {
	height: 48px;
	background: #f1f1f1;
	line-height: 46px;
	font-size: 18px
}

.order_list_tab .active span {
	border-bottom: 2px solid #e74165
}

.order_list_head {
	overflow: hidden;
	line-height: 44px;
	text-align: center;
	font-size: 14px
}

.order_list_item {
	border-bottom: 1px solid #e7e7e7
}

.order_list_item h3 {
	font-size: 14px
}

.order_list_item h3 span {
	margin-right: 2em
}

.order_list_detail {
	overflow: hidden
}

.order_list_detail table {
	text-align: center
}

.order_list_detail td {
	border-top: 1px solid #e7e7e7;
	vertical-align: top
}

.order_list_detail td.vertical_middle {
	vertical-align: middle
}

.order_list_detail .table_cell {
	vertical-align: top;
	text-align: center;
	border-left: 1px solid #e7e7e7
}

.order_list_detail .table_cell div {
	padding: 22px 0 12px
}

.order_list_detail .table_cell .col_7_3 div {
	float: right;
	width: 70%
}

.order_list_detail .table_cell div.share_code {
	float: left;
	width: 28%;
	margin-right: 2%
}

.order_list_detail .table_cell div.share_code img {
	width: 100%;
	height: auto
}

.order_list_detail .table_cell p {
	margin-bottom: 8px;
	position: relative
}

.order_list_detail .table_cell b {
	font-size: 18px;
	font-weight: 400
}

.order_list_detail .table_cell span {
	color: #818181
}

.order_list_detail .table_cell span.order_list_status {
	font-size: 14px;
	color: #ec6c24
}

.favorite {
	margin: 0 auto;
	padding-bottom: 24px
}

.favorite li {
	position: relative;
	display: inline-block;
	vertical-align: top;
	float: none;
	letter-spacing: -.2em;
	margin-bottom: 2em;
	margin-left: -4px
}

.favorite li div {
	letter-spacing: normal
}

.link_del_favorite_item {
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	width: 24px;
	height: 40px;
	background: url(icon_del.png?v=20210121144057) center center no-repeat;
	line-height: 888px;
	overflow: hidden
}

.empty_shop_tip {
	padding: 120px 0 240px;
	font-size: 24px;
	text-align: center;
	line-height: 48px
}

.order_info {
	width: auto;
	margin: 0 auto;
	padding-bottom: 24px;
	background: #fff
}

.order_info .checkout_step {
	padding-top: 48px
}

.order_info .checkout_step h3 {
	height: 48px;
	line-height: 48px;
	background: #f1f1f1;
	padding: 0
}

.order_info h2 {
	text-align: center;
	line-height: 68px;
	font-size: 16px;
	font-weight: 400
}

.order_info h2 span {
	margin: 0 1em
}

.order_detail {
	margin: 0 auto
}

.order_headline {
	padding: 24px 0;
	line-height: 36px;
	font-size: 14px;
	border-top: 1px solid #efefef
}

.order_headline p {
	text-align: center;
	line-height: 50px;
	font-size: 14px
}

.order_headline p b {
	color: #ca291e
}

.order_headline p em {
	color: #eb6c24
}

.order_detail dl {
	overflow: hidden;
	padding: 24px 0;
	border: 1px solid #efefef;
	border-width: 1px 0
}

.order_detail dt {
	line-height: 64px;
	font-size: 14px;
	color: #333
}

.order_detail dd {
	line-height: 32px
}

.rechoose {
	position: absolute;
	left: 0;
	top: 0;
	padding: 12px;
	border: 1px solid #efefef;
	background: #fff;
	box-shadow: 2px 2px 4px #efefef
}

.rechoose_item {
	float: left;
	width: 200px;
	text-align: center
}

.rechoose_item p {
	padding: 8px 0
}

.rechoose_item div a,.rechoose_item div del {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 0 2px;
	border: 1px solid #666;
	border-radius: 12px;
	font-size: 14px;
	line-height: 24px;
	text-align: center
}

.rechoose_item div a.selected {
	background-color: #e74165;
	color: #fff;
	border-color: #e74165
}

.order_detail_express,table.cart_table .order_detail_express td {
	border: 0
}

.rechoose_item div span {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0 2px;
	font-size: 14px;
	line-height: 26px;
	text-align: center;
	color: #e74165
}

.rechoose_btn {
	clear: both;
	padding: 12px 0 0;
	text-align: center
}

.rechoose_btn button {
	padding: 6px 1em
}

.order_detail_item {
	margin-top: 24px
}

.order_detail_express div {
	margin-top: 36px;
	padding-left: 66px;
	text-align: left;
	line-height: 3;
	background: url(icon_express.png?v=20210121144057) 15px center no-repeat
}

.order_detail_express div a {
	margin-left: 2em
}

.order_detail_head td {
	line-height: 3;
	background: #f0f0f0;
	font-weight: 700
}

.express_detail {
	margin: 24px auto
}

.express_detail_title {
	line-height: 3;
	font-size: 14px
}

.express_detail_content {
	padding: 24px;
	line-height: 3;
	background: #f1f1f1
}

.express_detail_content p {
	clear: both
}

.express_detail_content span {
	display: inline-block;
	vertical-align: middle
}

.pay_wechar_qrcode {
	min-height: 480px;
	padding: 24px 0
}

.pay_wechar_qrcode h2 {
	margin-bottom: 24px
}

.pay_wechar_qrcode p {
	height: 36px;
	line-height: 36px;
	margin: 24px auto
}

.pay_wechar_qrcode img {
	display: inline-block;
	margin: 48px 0 96px
}

.pay_wechar_qrcode p span.align_left em {
	margin-left: 1em
}

.pay_wechar_qrcode p span.align_right strong {
	margin-right: 1em
}

.my_address_list {
	overflow: hidden;
	margin: 24px 0
}

.my_address_list .address_item {
	padding: 12px 4%;
	margin: 0 4% 24px;
	border-color: #bfbdbc;
	cursor: default
}

.address_action {
	clear: both;
	margin-top: 8px;
	text-align: right
}

.address_action strong {
	position: absolute;
	right: 0;
	top: 0;
	background: #bfbdbc;
	font-weight: 400;
	padding: 0 4px
}

.address_action strong a {
	color: #fff
}

.my_address_list .selected {
	border-color: #e74165;
	background: url(icon_checked.png?v=20210121144057) right bottom no-repeat
}

.my_address_list .selected strong {
	background: #e74165;
	color: #fff
}

.my_address_list .selected .address_action {
	padding-right: 36px
}

.address_edit {
	margin: 24px 0
}

.address_edit .address_add {
	margin-left: 16.6667%
}

.normal_form {
	padding: 48px 0;
	margin-left: 25%
}

.normal_form .normal_line,.normal_form p {
	min-height: 30px;
	height: auto;
	line-height: 30px;
	clear: both;
	margin-bottom: 8px
}

.normal_form .cell input {
	width: 98%;
	border: 1px solid #f2f2f2;
	padding: 3px;
	line-height: 22px
}

.normal_form .cell input.verify_error {
	border-color: #ffb7c8
}

.normal_form .cell input.short {
	width: 50%
}

.normal_form p i b {
	font-weight: 400;
	margin: 0 12px
}

.normal_form button {
	padding-left: 1em;
	padding-right: 1em;
	vertical-align: middle
}

.normal_form button.btn_disabled {
	background-color: #999
}

.info_form {
	padding-bottom: 32px
}

.info_form h4 {
	margin-bottom: 8px;
	line-height: 45px;
	font-size: 14px;
	text-indent: 2em;
	border: 1px solid #ebebeb;
	border-width: 1px 0
}

.info_form h4 b {
	display: none;
	font-size: 12px;
	font-weight: 400;
	margin-left: 1em;
	color: #777
}

.info_detail {
	margin-left: 18.1818%
}

.info_detail .info_detail_line {
	height: 36px;
	line-height: 36px;
	clear: both;
	border-bottom: 1px solid #ebebeb;
	padding-left: 12.5%
}

.info_detail div.info_detail_line {
	position: relative;
	clear: both;
	height: auto;
	min-height: 36px
}

.info_detail .line_note {
	height: auto;
	overflow: hidden
}

.info_detail label {
	display: inline-block
}

.info_detail input {
	border: 0;
	width: 96%;
	font-size: 12px;
	line-height: 18px
}

.info_detail .verify_error {
	color: #f93d69
}

.info_detail input.no_width {
	width: auto
}

.address_add_pca em b,.info_detail label b {
	display: none;
	width: 16px;
	margin-left: -16px;
	color: red
}

.info_form_with_tip .address_add_pca em b,.info_form_with_tip .info_detail label b,.pay_bank_list p {
	display: inline-block
}

.info_detail select {
	border: 0
}

.info_detail textarea {
	width: 96%;
	vertical-align: top;
	border: 0;
	padding: 6px 0;
	line-height: 1.8;
	font-size: 12px
}

.info_detail .address_detail p {
	clear: none;
	border: 0;
	margin-left: 0;
	padding-left: 0
}

.info_detail .address_add_pca {
	overflow: hidden;
	min-height: 36px;
	line-height: 36px;
	clear: both;
	border-bottom: 1px solid #ebebeb;
	padding-left: 12.5%;
	margin-bottom: 0
}

.info_btns {
	margin-top: 32px
}

.form_error {
	line-height: 1.5;
	color: #f93d69
}

.pay_tip b,.pay_tip_fallow b,.pay_total div b {
	color: #ca291e
}

.form_error p {
	height: auto;
	margin: 0;
	line-height: 1.5
}

.info_detail_line .form_error {
	padding: 2em 0
}

.pay_tip {
	margin: 0 0 0 25%;
	padding: 42px 0 42px 14.2857%;
	background: url(icon_nike.png?v=20210121144057) 32px center no-repeat
}

.pay_bank_list p span,.pay_total div span i {
	left: 0;
	top: 0;
	background: url(icon_checked_small.png?v=20210121144057) right bottom no-repeat;
	overflow: hidden
}

.pay_tip h2 {
	line-height: 66px;
	font-size: 30px;
	font-weight: 400
}

.pay_tip p {
	height: auto;
	line-height: 36px;
	font-size: 14px;
	text-align: left
}

.pay_tip span {
	margin-right: 2em
}

.pay_tip_fallow {
	line-height: 102px;
	border-top: 1px solid #ebebeb;
	margin-top: -50px;
	text-indent: 7.1429%
}

.pay_choose {
	margin: 0 auto;
	border: 1px solid #ebebeb;
	padding-bottom: 24px
}

.pay_bank_list p {
	position: relative;
	width: 170px;
	height: 50px;
	border: 1px solid #ebebeb;
	margin: 24px 16px 0 32px
}

.pay_bank_list p img {
	display: block;
	width: 100%;
	height: 100%
}

.pay_bank_list p span {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 80em
}

.pay_bank_list p.selected {
	border-color: #e74165
}

.pay_bank_list p.selected span {
	display: block
}

.pay_bank_list input {
	display: none
}

.pay_bank_list label {
	display: inline
}

.pay_total {
	text-align: right;
	padding: 42px 0;
	margin: 0 auto
}

.pay_total div {
	line-height: 56px;
	font-size: 18px
}

.pay_total em {
	display: none
}

.pay_total div span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 170px;
	height: 50px;
	border: 1px solid #e74165;
	margin-right: 2em
}

.pay_total div span img {
	display: block;
	width: 100%;
	height: 100%
}

.pay_total div span i {
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 80em
}

.pay_total p {
	margin-top: 24px
}

.pay_total button {
	padding: 8px 0;
	font-size: 14px
}

.pay_wechar {
	border-top: 1px solid #ebebeb;
	margin-top: -50px;
	margin-bottom: 42px;
	font-size: 14px
}

.pay_wechar div {
	margin: 0 auto;
	border: 1px solid #ebebeb;
	border-top-width: 0;
	padding: 30px 0 30px 150px;
	border-radius: 0 0 24px 24px
}

.pay_wechar h3 {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 12px
}

.pay_success_tip_ochirly {
	background: url(wx_ochirly.png?v=20210121144057) 25px center no-repeat
}

.pay_success_tip_fiveplus {
	background: url(wx_fiveplus.png?v=20210121144057) 25px center no-repeat
}

.pay_success_tip_trendiano {
	background: url(wx_trendiano.png?v=20210121144057) 25px center no-repeat
}

.coupon_group {
	overflow: hidden;
	padding: 36px 12px
}

.coupon_item {
	position: relative;
	margin: 0 12px 24px;
	background: #f3f2f2
}

.coupon_info {
	padding-bottom: 18px;
	text-align: center;
	color: #fff;
	background: url(bg_wave_green.png?v=20210121144057) left bottom repeat-x #7dc993
}

.coupon_title,.text_left {
	text-align: left
}

.coupon_item_o .coupon_info {
	background-color: #7ebcc4;
	background-image: url(bg_wave_blue.png?v=20210121144057)
}

.coupon_info p {
	padding: 4px 12px
}

.coupon_title {
	font-size: 14px
}

.coupon_info p.coupon_caption {
	padding: 24px 12px;
	font-size: 30px
}

.coupon_use {
	padding: 12px;
	line-height: 18px;
	color: #939393
}

.coupon_item_used .coupon_info {
	padding-bottom: 0;
	background: url(bg_coupon_used.png?v=20210121144057) right top no-repeat #b6b6b6
}

.coupon_item_used .coupon_use {
	padding-top: 22px;
	border-top: 8px solid #b6b6b6;
	background: url(bg_wave_gray.png?v=20210121144057) left top repeat-x #f3f2f2
}

.coupon_tip {
	position: absolute;
	right: 12px;
	top: 14px;
	color: #c36;
	font-size: 16px
}

.coupon_exchange {
	background: #fff;
	line-height: 36px;
	padding-top: 12px
}

.col_offset_2 {
	margin-left: 14.2857%
}

.col_offset_1 {
	margin-left: 7.1429%
}

.text_right {
	text-align: right
}

.btn-default,.btn-link,.circle,.circle i,.text_center {
	text-align: center
}

.padding_v_50 {
	padding-top: 50px;
	padding-bottom: 50px
}

.padding_b_10,.padding_v_10 {
	padding-bottom: 10px
}

.padding_v_10 {
	padding-top: 10px
}

.padding_h_10 {
	padding-left: 10px
}

.padding_b_20 {
	padding-bottom: 20px
}

.font_18_dark {
	color: #333;
	font-size: 18px
}

.font_16_dark {
	color: #333;
	font-size: 16px
}

.font_14_dark {
	color: #333;
	font-size: 14px
}

a.font_14_dark:hover {
	color: #0d5b82
}

.font_12_light {
	color: #666;
	font-size: 12px
}

.btn-default {
	width: 176px;
	background: #9b1037;
	line-height: 1.5;
	font-size: 16px;
	color: #fff
}

.btn-link {
	width: 96px;
	background: 0 0;
	color: #0d5b82;
	font-size: 14px
}

.help-block {
	vertical-align: center
}

.help-block font {
	color: #a70432
}

.bd_btm_gray {
	border-bottom: 1px solid #ddd
}

.border_gray {
	border: 1px solid #e3e3e3
}

.border_b_gray {
	border-bottom: 1px solid #e3e3e3
}

.returns_content {
	border-top: 3px solid #9b1037;
	background: #fff;
	line-height: 2;
	padding-bottom: 50px;
	color: #666;
	font-size: 14px
}

.returns_content img {
	width: 100%
}

.circle {
	position: relative;
	height: 60px;
	z-index: 1;
	line-height: 22px
}

.bd_gray,.bd_red,.circle i {
	position: absolute;
	bottom: 28%;
	background: #9b1037
}

.circle i {
	z-index: 2;
	left: 50%;
	margin: 0 0 -8px -8px;
	display: inline-block;
	width: 16px;
	height: 16px;
	font-size: 12px;
	color: #fff;
	line-height: 16px;
	border-radius: 12px;
	border: 3px solid #dbdbdb
}

.circle_red {
	color: #9b1037;
	font-size: 18px
}

.bd_gray,.bd_red {
	width: 176px;
	height: 4px;
	left: 55%;
	z-index: 1
}

.title_gray {
	color: #333;
	background: #f0f0f0
}

.title_gray h1,.title_gray h2 {
	font-size: 18px;
	line-height: 2.5;
	font-weight: lighter
}

.returns_content input,.returns_content select,.returns_content textarea {
	line-height: 26px;
	border: 1px solid #ddd
}

.returns_content option,.returns_content select {
	padding: 8px
}

.return_review {
	padding: 1em;
	border-top: 1px solid #e3e3e3
}

.return_review div {
	margin-bottom: 1em
}