/* 清除浏览器的默认间距 */
*{margin:0;padding:0}
/* logo背景 */
#logo {
    width:100%;
    height:101px;
    /* background-color: aqua; */
}
/* 版心 */
#logo .logo-con{
    width:961px;
    height:101px;
    /* background-color: brown; */
    /* 版心居中 */
    margin: 0 auto;
}
/* logo图标 */
.logo-con img{
    margin-top: 36px;
    float: left;
}
/* 搜索框 */
.ssk input{
    width: 200px;
    height: 26px;
    background-color:#eee;
    border: 1px solid #ccc;
    /* 首行缩进 */
    text-indent: 10px;
    background: url(../images/fdg_03.gif) no-repeat right center;
    font-size: 12px;
    margin:0px 0 33px 732px;
    outline: none 

}
/* 属性栏背景 */
#top{
    width: 100%;
    height: 59px;
    background-color:black
}
/* 属性栏版心 */
.top-con{
    width: 961px;
    height: 59px;
    /* background-color: bisque; */
    margin: 0 auto;
}
/* 文字浮动 */
.list{
    color: #ffffff
}
.list ul li{
    width: 117px;
    height: 59px;
    float: left;
    border-right: 1px solid #494949;
    list-style: none;
    line-height: 59px;
    text-align: center
}
ul li{
    list-style: none
}
.list{
    margin-left: 13px
}
/* 轮播图 */
.picture img{
    width:100%;
    height: 464px;
    display: block;  /* 解决图片默认向下撑开几px的bug */
    float: left
}

/* 新闻版块 */
#news{
    width: 100%;
    height: 241px;
    /* background-color: aquamarine; */

}
/* 新闻版块版心 */
.news-con{
    width: 961px;
    height: 241px;
    /* background-color: blue; */
    margin: 0 auto
}
.news-con .left{
    width: 479px;
    height: 241px;
    float: left;
    /* background-color: coral */
}
/* 左侧 */
.left h4{
    margin-top:30px;
    font-style: normal;
    font-size: 14px;
    margin: 37px 0 30px ;
    color: #2c2c2c
}
.left ul li{
    margin-top:10px;
    font-size: 12px;
    background: url(../images/square_03.gif) no-repeat left;
    text-indent: 12px ;
    color: #494949
}
/* 时间字体颜色 */
.left ul li span{
    color: #959595
}
/* 移动时间 */
.li-01{
    margin-left: 132px
}
.li-02{
    margin-left: 88px
}
.li-03{
    margin-left: 193px
}
.li-04{
    margin-left: 181px
}
.li-05{
    margin-left: 84px
}
.li-06{
    margin-left:81px
}
/* 新闻板块中间 */
.news-con .middle{
    width:241px; 
    height:241px;
    float:left;
    /* background-color: #f1f1f1 */
}
.middle h4{
    font-size: 18px;
    color: #1f1f1f;
    margin:36px 0 32px 26px;
}
.middle .one{
    line-height:26px;
    font-size: 12px;
    margin-left:26px;
    color: #4b4b4b;
}
.middle .two{
    font-size: 12px;
    color: #adadad;
    line-height: 25px;
    margin-left: 26px;
    margin-top: 26px
}
/* 右侧 */
.news-con .right{
    width: 241px;
    height: 241px;
    float:left;
    /* background-color:yellow; */
}
.news-con .right h4{
    font-size: 18px;
    color: #1f1f1f;
    margin:36px 0 26px 22px;
}
.news-con .right ul{
    font-size:12px;
    line-height: 24px;
    color: #5b5b5b;
    margin-left: 25px
}
/* 小图标 */
.more img{
margin: 56px 0 0 22px
}
.flower img{
    margin: -83px 0 15px 166px
}
/* 卧龙市场 */
.center{
   width: 100%;
   height: 65px;;
   float:left;
   /* background-color: blue */
}
.center-con{
    width: 961px;
    height: 65px;
    /* background-color: crimson; */
    margin: 0 auto
}
.center-con p{
    font-size: 20px;
    line-height: 65px
}
/* 图片部分板块 */
.photo{
    width: 100%;
    height:240px;
    /* background-color: chocolate; */
    float: left
}
/* 图片部分版心 */
.photo-con{
    width: 961px;
    height: 137px;
    /* background-color: bisque; */
    margin:0 auto
}
/* 卧龙市场图片部分 */
/* .photo-con .jt{
    width:210px;
    height: 137px;
    margin-left: 40px;
    
} */
.photo-con .jt-01{
    width: 213px;
    height:137px;
    /* background-color: blueviolet; */
    float: left
}
.photo-con .jt-02{
    width: 213px;
    height:137px;
    /* background-color: brown; */
    float: left;
    margin: 0 36px 0 36px
}.photo-con .jt-03{
    width: 213px;
    height:137px;
    /* background-color: cornflowerblue; */
    float: left;
    margin-right: 36px
}.photo-con .jt-04{
    width: 213px;
    height:137px;
    /* background-color: darkgoldenrod; */
    float: left
}
/* 卧龙市场文字部分 */
.text p{
    font-size: 12px;
    color: #6f6f6f;
    line-height: 26px;
    margin-top: 10px 
}
.text-01{
    width: 213px;
    height:104px;
    /* background-color: fuchsia; */
    float: left;
}
.text-02{
    width: 213px;
    height:104px;
    /* background-color: #494949; */
    float: left;
    margin: 0 36px 0 36px
}
.text-03{
    width: 213px;
    height:104px;
    /* background-color: darkgrey; */
    float: left;
    margin-right: 36px;

}
.text-04{
    width: 213px;
    height:104px;
    /* background-color: darkcyan; */
    float: left;
}
/* 产品部分背景 */
#product{
    width: 100%;
    height: 250px;
    background-color:#e5e5e5;
    float: left
}
/* 产品部分版心 */
#product .product-con{
width: 961px;
height: 250px;
margin:0 auto;
/* background-color: cadetblue */
}
/* 左侧 */
#product .product-con .cp{
    width: 453px;
    height:250px;
    float: left;
    /* background-color: honeydew; */
}
/* 上 板块*/
.product-con .cp .cp-con{
    width: 453px;
    height:57px;
    /* background-color: blue; */
    color: #585858;
    border-bottom: 1px solid #c2c2c2;
}
/* 产品中心文字 */
.cp-con p{
    font-size: 16px;
    margin: 31px 0 11px 12px ;
    float: left;
}
/* 下板块 */
.cp-con-1{
    width: 453px;
    height: 193px;
    /* background-color: midnightblue */
}
/* 下方文字 */
#product {
    font-size: 12px;
    color: #757575;
}
.zb ul li{
    background: url(../images/f_03.gif) no-repeat left;
    text-indent: 6px 
}
.zb .left-01{
    float: left;
    margin-top: 20px;
    margin-left: -68px;
    line-height: 24px;
    
}
.zb .left-02{
    float: left;
    margin-top: 20px;
    margin-left: 79px;
    line-height: 24px
}
.zb .left-03{
    float: left;
    margin-top: 20px;
    margin-left: 72px;
    line-height: 24px
}
/* 中间 */
#product .product-con .js{
    width:154px;
    height:250px; 
    float: left;
    /* background-color: chartreuse; */
}
/* 上方板块 */
#product .product-con .js-con{
    width: 154px;
    height:57px;
    /* background-color: brown; */
    border-bottom:1px solid #c2c2c2;
}
/*中间上方文字 */
 .js-con p{
    font-size: 16px;
    margin: 30px 0 10px 14px;
    float: left
}
/* 下方板块 */
.qy{
    width: 154px;
    height: 189px;
    /* background-color: darkslateblue; */
    float: left
}
.js{
    margin: 0 50px 0 50px
}
.js ul li{
    font-size: 12px;
    margin-top: 20px;
    margin-left: 9px;
    line-height: 8px;
}
.js ul li{
    background:url(../images/f_03.gif) no-repeat left;
    text-indent: 9px
}
/* 右侧 */
.map{
    width:254px;
    height:250px;
    float: left;
    /* background-color: crimson */
}
/* 上方文字板块 */
.dt{
    width: 254px;
    height: 57px;
    /* background-color:beige; */
    float: left;
    border-bottom: 1px solid #c2c2c2
}
.dt p{
    font-size: 16px;
    margin: 30px 0 10px 14px;
    float: left
}
     /*下方板块  */
     .dt-con{
    width: 254px;
    height: 189px;
    /* background-color: darkslateblue; */
    float: left;
     }
     .dt-con img{
        margin:16px 35px 32px 34px
     }
/* 底部背景 */
#fottre{
    width: 100%;
    height:81px;
    float: left;
    /* background-color: coral */
}
/* 底部版心 */
.fottre-con{
    width: 961px;
    height: 81px;
    /* background-color: aqua; */
    margin: 0 auto;
}
/* 底部左侧 */
.wap{
    width: 250px;
    height: 81px;
    /* background-color: crimson; */
    float: left
}
.wap ul li{
float: left;
font-size: 12px;
color: #868686;
margin:24px 3px 45px 3px;
}
.wap li{
    border-right: 1px solid black; 
}
.wap .cg{
    border-right: none
}
/* 左侧 */
.wap-l{
    width: 445px;
    height: 81px;
    /* background-color: #4b4b4b; */
    float: left;
    margin-left: 127px
}
.wap-l p{
    font-size: 12px;
    color: #b1b1b1;
    float: left;
    margin: 24px 0 45px 0
}
