*{
    margin: 0;
    padding: 0
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 26.67vw
}
body{
    display: flex;
    flex-direction: column
}
/* 头部 */
header{
    width: 100%;
    height: 0.35rem;
    /* background: skyblue; */
}
header form{
    width: 3.49rem;
    height: 0.29rem;
    margin: 0.05rem 0 0 0.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}
form p{
    width: 0.19rem;
    height: 0.17rem;
    font-size: 0.19rem;
}
form input{
    width: 2.79rem;
    height: 0.28rem;
    border: none;
    outline: none;
    font-size: 0.1rem;
    border-radius: 0.03rem;
    background:#f3f1f4 url(../images/fdj_03.jpg)no-repeat 0.08rem center;
    text-indent: 0.25rem;
    background-size: 0.12rem 0.12rem;
}
input::-webkit-input-placeholder{
    color: #9a9a9a 
}
form i{
    width: 0.22rem;
    height: 0.2rem;
    font-size: 0.22rem;
}
/* 导航 */
nav{
    width: 100%;
    height: 0.44rem;
    display: flex;
    background: palegoldenrod
}
nav div:nth-child(1){
    width: 3.31rem;
    height: 0.44rem;
    overflow-x: auto;
    background: #f3f1f4
}
nav div:nth-child(1) ul{
    width: 200%;
    height: 0.44rem;
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

nav div:nth-child(2){
    width: 0.44rem;
    height: 0.44rem;
    background: chartreuse
}
nav li{
    list-style: none;
    font-size: 0.15rem
}
/* 轮播图 */
aside{
    width: 100%;
    height: 1.87rem;
    background: paleturquoise
}
/* 广告 */
figure{
    width: 100%;
    height: 1.5rem;
    background: salmon
}
/* 主体 */
main {
    width: 100%;
   flex: 1;
    background: khaki
}
/* 底部 */
footer{
    width: 100%;
    height: 0.51rem;
    background: chocolate
}