*{
    margin: 0;
    padding: 0
}
/* 顶部 */
#top{
    width: 100%;
    height: 34px;
    float: left;
    background: #2e2e33
}
/* 顶部版心 */
.top-con{
    width: 1000px;
    height: 34px;
    margin: 0 auto;
    /* background: cadetblue */
}
.top-con p{
    font-size: 12px;
    color: #e7e7e7;
    float: left;
    margin-top: 12px;
    text-indent: 2px
}  
.top-con i{
    font-style: normal;
    font-size: 12px;
    float: left;
    color: #e7e7e7;
    text-indent: 30px;
    margin-top: 12px
}
.top-con input{
    width: 175px;
    height: 24px;
    float: left;
    margin: 3px 0 0 415px;
    background: url(../images/fdj_03.gif)no-repeat center right #ffffff;
    outline: none;
}
/* 导航 */
#nav{
    width: 100%;
    height: 100px;
    float: left;
    background: #f8f8fa
}
/* 导航版心 */
.nav-con{
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    /* background: pink */
}
.nav-con img{
    float: left;
    margin: 24px 0 0 1px
}
.nav-con h2{
    color: #164174;
    float: left;
    margin-top: 30px;
    margin-left: 3px
}
.nav-con p{
    font-size: 12px;
    float: left;
    margin-top: 57px;
    color: #164174;
    margin-left: -153px
}
.nav-con i{
    font-size: 16px;
    font-style: normal;
    color: #900000;
    margin-top: 54px;
    margin-left:-28px ;
    float: left;
}
.nav-box{
    width: 560px;
    height: 42px;
    /* background: skyblue; */
    float: left;
    margin: -26px 0 0 380px;    
}
.nav-box ul{
    display: flex;
    justify-content: space-around;
}
.nav-box ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    height: 42px;
    line-height: 42px
}
.nav-box a{
    text-decoration: none;
    height: 30px;
    color: #666666;
    display: block;
    text-align: center;
    line-height: 30px
}
.nav-box li:hover a{
    color: #0051ac;
    border-bottom: 2px solid #0051ac;
}
/* 轮播图 */
#banner{
    width: 100%;
    height: 350px;
    overflow: hidden;
}
#banner img{
    width: 100%;
    height: 100%;
}
/* 中间部分 */
#middle{
    width: 100%;
    height: 340px;
    float: left;
    overflow: hidden;
}
/* 中间部分版心 */
.middle-con{
    width: 1000px;
    height: 340px;
    /* background: skyblue; */
    margin: 0 auto
}
.middle-box1{
    width: 321px;
    height: 340px;
    float: left;
    /* background: pink */
}
.box1-up{
    width: 321px;
    height: 63px;
    border-bottom: 1px solid #cccccc
}
.box1-up p{
    float: left;
    font-size: 24px;
    margin-top: 32px;
}
.box1-up i{
    font-size: 12px;
    font-style: normal;
    color: #00a2e9;
    float: left;
    margin: 40px 0 0 200px
}
.middle-box1 ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    width: 321px;
    height: 28px;
    line-height: 28px;
    color: #666666
}
.middle-box1 span{
    float: right;;
}
.middle-box2{
    width: 321px;
    height: 340px;
    float: left;
    margin-left: 20px;
    /* background: pink */
}
.box2-up{
    width: 321px;
    height: 63px;
    border-bottom: 1px solid #cccccc
}
.box2-up p{
    float: left;
    font-size: 24px;
    margin-top: 32px;
}
.box2-up i{
    font-size: 12px;
    font-style: normal;
    color: #00a2e9;
    float: left;
    margin: 40px 0 0 200px
}
.middle-box2 ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    width: 321px;
    height: 28px;
    line-height: 28px;
    color: #666666
}
.middle-box2 span{
    float: right;;
}
/*  */
.middle-box3{
    width: 321px;
    height: 340px;
    float: left;
    margin-left: 17px;
    /* background: pink */
}
.box3-up{
    width: 321px;
    height: 63px;
    border-bottom: 1px solid #cccccc
}
.box3-up p{
    float: left;
    font-size: 24px;
    margin-top: 32px;
}
.box3-up i{
    font-size: 12px;
    font-style: normal;
    color: #00a2e9;
    float: left;
    margin: 40px 0 0 200px
}
.middle-box3 ul li{
    list-style: none;
    float: left;
    font-size: 12px;
    width: 321px;
    height: 28px;
    line-height: 28px;
    color: #666666
}
.middle-box3 span{
    float: right;;
}
/* ####中间部分结束############### */
#case{
    width: 100%;
    height: 1155px;
    float: left;
}
/* 成功案例版心 */
.case-con{
    width: 1000px;
    height: 1155px;
    margin: 0 auto;
    /* background: skyblue; */
}
.case-up{
    width: 1000px;
    height: 153px;
    /* background: pink */
}
.case-up p{
    font-size: 22px;
    float: left;
    margin-top:86px
}
.case-up img{
    float: right;
    margin-top: 82px 
}
.case-down{
    width: 1000px;
    height: 1000px;
    /* background: #00a2e9; */
    column-count: 3
}
/* .case-down img{
    width: 100%;
    height: 100%;
} */
.case-down p{
    width: 319px;
    height: 42px;
    color: #666666;
    background: #f1f1f1;
    line-height: 42px;
    margin-bottom: 30px;
    margin-top: -4px   
}
/* #####案例部分结束########## */
/* 友情链接 */
#friend{
    width: 100%;
    height: 140px;
    float: left;
}
/* 友情链接版心 */
.friend-con{
    width: 1000px;
    height: 140px;
    margin: 0 auto;
    /* background: skyblue */
}
.friend-con p{
    font-size: 22px;
    padding-top: 20px;
}

.friend-con ul li{
    list-style: none;
    font-size: 12px;
    float: left;
    margin-right: 19px;
    margin-top: 25px; 
}
/* 底部 */
#fotter{
    width: 100%;
    height: 267px;
    background: #222222;
    float: left;
    position: relative;
}
.fotter-con em{
    position: absolute;
    margin: 30px 0 0 1050px
}
.fotter-con strong{
    position: absolute;
    margin: 90px 0 0 1050px
}
/* 底部版心 */
.fotter-con{
    width: 1000px;
    height: 267px;
    margin: 0 auto;
    /* background: skyblue */
}
.fotter-box1{
    width: 60px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px
}
.fotter-box1 p{
    font-size: 16px;
    color: #ffffff;
}
.fotter-box1 ul li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    color: #8e8e8e;
    line-height: 27px
}
.fotter-box2{
    width: 60px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px;
    margin-left: 80px
}
.fotter-box2 p{
    font-size: 16px;
    color: #ffffff;
}
.fotter-box2 ul li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    color: #8e8e8e;
    line-height: 27px
}
.fotter-box3{
    width: 60px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px;
    margin-left: 80px
}
.fotter-box3 p{
    font-size: 16px;
    color: #ffffff;
}
.fotter-box3 ul li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    color: #8e8e8e;
    line-height: 27px
}
.fotter-box4{
    width: 60px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px;
    margin-left: 80px
}
.fotter-box4 p{
    font-size: 16px;
    color: #ffffff;
}
.fotter-box4 ul li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    color: #8e8e8e;
    line-height: 27px
}
.fotter-box5{
    width: 181px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px;
    margin-left: 69px
}
.fotter-box5 p{
    font-size: 16px;
    color: #ffffff;
}
.fotter-box5 ul li{
    list-style: none;
    font-size: 12px;
    height: 27px;
    color: #8e8e8e;
    line-height: 27px
}
/*  */
.fotter-box6{
    width: 200px;
    height: 210px;
    float: left;
    /* background: pink; */
    margin-top: 36px;
    margin-left: 70px;
    position: relative;
}
.fotter-box6 span{
    position: absolute;
    margin-left: 125px;
    margin-top: 15px
}
.fotter-box6 p{
    font-size: 16px;
    color: #d5741d;
}
.fotter-box6 img{
    float: left;
    margin-top: 10px;
}
.fotter-box6 ul li{
    list-style: none;
    font-size: 12px;
    height: 28px;
    color: #8e8e8e;
    line-height: 28px;
    text-indent: 10px;
}
/* 版权 */
#copy{
    width: 100%;
    height: 80px;
    float: left;
    background: #101010
}
/* 版权版心 */
.copy-con{
    width: 1000px;
    height: 80px;
    margin: 0 auto;
    /* background: skyblue */
}
.copy-con img{
    float: left;
    margin: 22px 0 0 7px
}
.copy-con span{
    float: left;
    margin-left:  7px
}
.copy-box{
    width: 528px;
    height: 50px;
    float: left;
    /* background: pink; */
    margin: 20px 0 0 195px
}
.copy-box li{
    font-style: normal;
    font-size: 12px;
    color: #8e8e8e;
    padding-top: 24px;
    list-style: none;
    width: 650px;
    height: 10px;
    margin-top: -15px;
    float: left;
}