/* 首页美化 */
#head{
    width: 100%;
    height: 62px;
    background-color:#232323
}
/* 头部版心区域 */
#head .head-con{
width:1107px;
height: 62px;
/* background-color: aqua; */
/* 版心移到中间 */
margin:0 auto;
}
/* 轮播图 */
.banner{
    width: 100%;
    height: 424px;
    background-color: darkcyan;
    background: url(../images/banner_04.gif) no-repeat center;
    border-bottom: 1px solid #a8a8a8;
}
/* 盒子尺寸 */
.head-con h1{
    width: 207px;
    height: 62px;
    /* background-color: blue; */
    float: left;
}
.head-con{
    line-height: 79px;
    text-align: right
}
/* 列表样式 */
.head-con ul{
    width: 655px;
    height: 62px;
    /* background-color: blueviolet; */
    float:right;
    color: aliceblue
}
.head-con ul li{
    float: left;
    height: 62px;
    line-height: 62px;
    padding:0 9px;
    font-size: 14px;
    background:url(../images/shuxian_03.gif) no-repeat 0 center;

}
li:hover{
    background-color: yellow;
    color: blue;
}
/* 产业 */
#industrial{
    width:100%;
    height:400px;
    background-color:#f5f5f5; 
}
/* 产业版心 */
#industrial .industrial-con{
    width:1107px;
    height:400px;
    background-color:#f5f5f5; 
   margin: 0 auto;
  
}

#industrial .industrial-con ul li{
    width: 250px;
    height: 400px;
    /* background-color: cyan; */
    float: left;
    margin: 0px 13px 0 13px;
    list-style: none;
    text-align: center;
    /* border-right: 1px solid red */
}
/* 移动产业文字间距 */
.industrial-con .mobile h3{
margin-bottom: 22px;
}
.industrial-con .mobile h4{
margin-bottom: 20px;
    }
.jiaoyu img{
margin-left: -16px
}
/* 教育产业文字间距 */
.industrial-con .jiaoyu h3{
margin-bottom: 22px;
}
.industrial-con .jiaoyu h4{
margin-bottom: 20px;}
/* 研发文字间距 */
.industrial-con .yanfa h3{
margin-bottom: 22px;
}
.industrial-con .yanfa h4{
margin-bottom: 20px;}
/*创业文字间距 */
.industrial-con .chuangye h3{
margin-bottom: 22px;
}
.industrial-con .chuangye h4{
margin-bottom: 20px;}
/* 新闻版业 */
#news{
    width: 100%;
    height: 352px;
    margin-top: 47px;
    /* overflow: hidden; */
}
/* 新闻版心 */
.news-con{
    width: 1107px;
    height: 352px;
    /* 版心移到中间 */
    margin: 0 auto;
    /* background-color: crimson */
   
}
.news-con img{
    float: left;
    /* margin-right: 10px; */
}
/* 动态新闻 */
.dt-news{
width: 369px;
height: 352px;
margin-left: 19px;
float:left;
border-right: 2px solid #DCDEDF;
}
.dt-news ul li{
    background:url(../images/jt.png) no-repeat left center;
    text-indent: 13px;
}
.dt-news h3{
    font-weight: normal;
    font-size: 19px;
    margin-left: 2px;
}
.dt-news h4{
    font-weight: normal;
    font-size: 16px;
    margin-top: 12px;
    color: #444444;
}
.dt-news p{
    font-weight: normal;
    font-size: 14px;
    color: #9c9c9c;
    margin-top: 16px;
}
/* 虚线 */
.dt-news ul {border-top: 1px dashed #cccccc
}
.dt-news ul li{
    font-weight: normal;
    font-size: 14px;
    margin-top: 12px;
}
/* 与我们洽谈 */
.qiatan h3{
    font-weight: normal;
    font-size: 19px;
    margin-left:-61px;
}
.qiatan{
    width: 300px;
    height: 350px;
    margin-left:10px;
    float: right;
}
.qiatan h2{
    font-weight: normal;
    font-size: 18px;
    margin-left:-65px;
}
.qiatan p{
    font-weight: normal;
    font-size: 14px;
    margin-top: 12px;
    margin-left:-65px;
}
.qiatan a img{
    margin-left: -65px;
    margin-top: 18px;
}
.qiatan h2{
    margin-top: 63px;
}
/* 右侧实线 */
.qiatan{
    border-right: 2px solid #DCDEDF;
}
/* 底部 */
#next{
    width: 100%;
    height: 215px;
    background-color: #222222;
   
}
/* 底部版心 */
.next-con{
width:1107px;
height: 215px;
margin: auto;
/* background-color: salmon; */

}
/* 左侧图标盒子 */
.left{
    width:494px;
    height:215px;
    /* background-color: slategrey; */
    float:left;
    border-right: 1px solid #464646;
}
/* 文字向左移动 */
.next-con .left-li{
    float: left;
}
.left ul .left-01{
    float: left;
    margin-left: 10px;
    margin-top: 37px;
}
.left ul .left-02{
    float: left;
    margin-left: 30px;
    margin-top: 37px;
}
.left ul .left-03{
    float: left;
    margin-left: 34px;
    margin-top: 37px;
}
.left ul .left-04{
    float: left;
    margin-left: 37px;
    margin-top: 37px;
}
.left p{
    color: #fff;
    font-size: 14px;
    margin-bottom: 25px;
}
.left li{
    color: #999999;
    font-size: 14px;
    margin-bottom: 13px;
}
/* 地图 */
.next-con .center {
    width:328px;
    height:215px;
   /* background-color: blanchedalmond; */
    float: left;
}
.center img{
    margin-left: 91px;
    margin-top:28px;
    float: left
}
/* 二维码 */
.right{
    width:284px;
    height:215px;
    float: left;
    /* background-color: cornflowerblue */
}
/* 二维码移动 */
.right img{
    margin-left: 84px;
    margin-top: 20px;
    float:left;
}
/* 二维码下面的文字 */
.right ul{
    margin-left: 97px;
    margin-top:4px;
    float:left;
    text-align: center;
    color:#464646;
}
/* 页面底部 */
#bottom{
    width: 100%;
    height: 44px;
    background-color: #101010;
}
/* 页面底部版心 */
#bottom .bottom-con{
    width: 1107px;
    height: 44px;
    /* background-color: blueviolet; */
    margin: 0 auto;
}
.bottom-con p{
    margin-left: 85px;
    margin-top: 18px;
    float:left;
    color: #999999
}