*{
    margin: 0;
    padding: 0
}
/* 顶部 */
#top{
    background: #303030;
    width: 100%;
    height:34px ;
}
/* 顶部版心 */
.top-con{
    width: 1360px;
    height: 34px;
    margin: 0 auto;
    /* background: pink */
}
.top-con p{
    font-size: 12px;
    width: 85px;
    height: 34px;
    background: url(../images/sanjiaoxing_03.jpg) no-repeat right center;
    float: right;
    line-height: 34px;
    text-align: center;
}
.top-con a{
    color: #999999;
    text-decoration: none
}
/* 导航 */
#nav{
    width: 100%;
    height: 70px;
    /* background: skyblue */
}
/* 导航版心 */
.nav-con{
    width: 1380px;
    height: 70px;
    margin: 0 auto;
    /* background: pink */
}
.nav-con img{
    float: left;
    margin-top: -13px
}
/* 右边导航 */
.nav-box{
    width: 600px;
    height: 70px;
    /* background: #999999; */
    float: right;
}
.nav-box li{
    height: 33px;
    list-style: none;
    font-size: 12px;
    float: left;
    padding: 37px 22px 0 29px;
    background: url(../images/1_03.jpg) no-repeat center 14px;
    border-right: 1px solid #bfbfbf
}
.nav-box a{
    text-decoration: none;
    color: #000
}
.nav-box li:hover{
    background: #4d4d4d;
    background-image: #fff
}
.nav-box li:hover a{
    color: #fff
}
/* 轮播图 */
#banner{
    width: 100%;
    height: 569px;
}
#banner img{
    width: 100%;
    height: 100%;
}
/* 星空传媒 */
#star{
    width: 100%;
    height: 348px;
    margin-top: 50px;
}
/* 星空传媒版心 */
.star-con{
     width: 1360px;
     height: 348px;
     margin: 0 auto;
     /* background: skyblue; */
}
.star-box1{
    width: 228px;
    height: 348px;
    margin-left: 165px;
    float: left;
    border: 1px solid #cecece
}
.star-box1 img{
    margin: 28px 0 0 66px
}
.star-box1 p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center
}
.star-box1 li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #484848;
    text-align: center;
}
.star-box1 span{
    display: block;
    width: 192px;
    height: 1px;
    margin-top: 22px;
    border-bottom: 1px dashed #8d8d8d;
    margin-left: 16px
}
.star-box1 i{
    display: block;
    font-style: normal;
    width: 118px;
    height: 36px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    margin: 20px 0 0 55px;
    font-size: 12px;
    text-align: center;
    line-height: 36px
}
.star-box2{
    width: 228px;
    height: 348px;
    margin-left: 26px;
    float: left;
    border: 1px solid #cecece
}
.star-box2 img{
    margin: 28px 0 0 66px
}
.star-box2 p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center
}
.star-box2 li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #484848;
    text-align: center;
}
.star-box2 span{
    display: block;
    width: 192px;
    height: 1px;
    margin-top: 22px;
    border-bottom: 1px dashed #8d8d8d;
    margin-left: 16px
}
.star-box2 i{
    display: block;
    font-style: normal;
    width: 118px;
    height: 36px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    margin: 20px 0 0 55px;
    font-size: 12px;
    text-align: center;
    line-height: 36px
}
.star-box3{
    width: 228px;
    height: 348px;
    margin-left: 26px;
    float: left;
    border: 1px solid #cecece
}
.star-box3 img{
    margin: 28px 0 0 66px
}
.star-box3 p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center
}
.star-box3 li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #484848;
    text-align: center;
}
.star-box3 span{
    display: block;
    width: 192px;
    height: 1px;
    margin-top: 22px;
    border-bottom: 1px dashed #8d8d8d;
    margin-left: 16px
}
.star-box3 i{
    display: block;
    font-style: normal;
    width: 118px;
    height: 36px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    margin: 20px 0 0 55px;
    font-size: 12px;
    text-align: center;
    line-height: 36px
}
/*  */
.star-box4{
    width: 228px;
    height: 348px;
    margin-left: 26px;
    float: left;
    border: 1px solid #cecece
}
.star-box4 img{
    margin: 28px 0 0 66px
}
.star-box4 p{
    font-size: 16px;
    margin-top: 20px;
    text-align: center
}
.star-box4 li{
    list-style: none;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: #484848;
    text-align: center;
}
.star-box4 span{
    display: block;
    width: 192px;
    height: 1px;
    margin-top: 22px;
    border-bottom: 1px dashed #8d8d8d;
    margin-left: 16px
}
.star-box4 i{
    display: block;
    font-style: normal;
    width: 118px;
    height: 36px;
    border: 1px solid #b7b7b7;
    border-radius: 4px;
    margin: 20px 0 0 55px;
    font-size: 12px;
    text-align: center;
    line-height: 36px
}
/* 节目合作 */
#pro{
    width: 100%;
    height: 70px;
    background: #ebebeb;
    margin-top: 46px
}
/* 节目合作版心 */
.pro-con{
    width: 1360px;
    height: 70px;
    margin: 0 auto;
    position: relative;
    /* background: skyblue */
}
.pro-con p{
    font-size: 24px;
    margin-top: 30px;
    margin-left: 163px;
    color: #4d4d4d;
    float: left;
}
.pro-con h3{
    font-size: 14px;
    float: left;
    font-weight: normal;
    margin: 38px 0 0 10px;
}
.pro-con span{
    width: 96px;
    height: 28px;
    position: absolute;
    left: 1068px;
    top:29px;
    background: #cbcbcb
}
.pro-con i{
    font-style: normal;
    font-size: 12px;
    color: #ffffff;
    margin-left: 28px;
}
.pro-con em{
    margin-left: 20px
}
/* 视频推荐 */
#tv{
    width: 100%;
    height: 548px;
    background: #ebebeb;
}
/* 视频推荐版心 */
.tv-con{
    width: 1360px;
    height: 548px;
    margin: 0 auto;
    /* background: skyblue */
}
.tv-con .box1{
    width: 404px;
    height: 500px;
    float: left;
    margin-left: 163px;
    background: #fff;
    display: block
} 
.tv-con .box1 p{
    color: #858585;
    margin:26px 0 0 18px
}
.tv-con .box1 img{
    margin-top: 24px
}
.tv-con .box1 i{
    font-style: normal;
    width: 76px;
    height: 20px;
    line-height: 20px;
    margin: 24px 0 0 20px;
}
.tv-con .box1 em{
    font-style: normal;
    width: 404px;
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 14px 0 0 20px;
    color: #adadad;
    font-size: 12px;
}
.tv-con .box1 span{
    display: block;
    width: 404px;
    height: 2px;
    border-bottom: 1px solid #ececec;
    margin-top: 40px
}
.tv-con .box1 p:nth-of-type(2){
    font-size: 12px;
    color: #868686
}
.box-right{
    width: 585px;
    height: 500px;
    /* background: pink; */
    margin-left: 16px;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.tv-box1{
    width: 284px;
    height: 240px;
    background: #fff;
    margin-bottom: 19px;
}
.tv-box1 p{
    font-size: 14px;
    margin: 4px 0 0 16px
}
.tv-box1 i{
    font-size: 12px;
    color: #adadad;
    margin: 12px 0 0 16px;
    font-style: normal
}
.tv-box1 img{
    margin-top: 20px
}
.tv-box2{
    width: 284px;
    height: 240px;
    background: #fff;
}
.tv-box2{
    width: 284px;
    height: 240px;
    /* background: orange; */
    margin-bottom: 19px;
}
.tv-box2 p{
    font-size: 14px;
    margin: 4px 0 0 16px
}
.tv-box2 i{
    font-size: 12px;
    color: #adadad;
    margin: 12px 0 0 16px;
    font-style: normal
}
.tv-box2 img{
    margin-top: 20px
}
.tv-box3{
    width: 284px;
    height: 240px;
    background: #fff;
}
.tv-box3 p{
    font-size: 14px;
    margin: 2px 0 0 16px
}
.tv-box3 i{
    font-size: 12px;
    color: #adadad;
    margin: 12px 0 0 16px;
    font-style: normal
}
.tv-box3 img{
    margin-top: 20px
}
.tv-box4{
    width: 284px;
    height: 240px;
    background: #fff;
}
.tv-box4 p{
    font-size: 14px;
    margin: 2px 0 0 16px
}
.tv-box4 i{
    font-size: 12px;
    color: #adadad;
    margin: 12px 0 0 16px;
    font-style: normal
}
.tv-box4 img{
    margin-top: 20px
}
/* 底部 */
#footer{
    width: 100%;
    height: 358px;
}
/* 底部版心 */
.footer-con{
    width:1360px;
    height: 358px;
    margin: 0 auto;
    box-sizing: border-box
    /* background: skyblue */
}
.footer-up{
    width: 1000px;
    height: 227px;
    border: 1px solid #dedede;
    margin:24px 0 0 164px;
    float: left;
    box-sizing: border-box
}
.footer-box1{
    width: 145px;
    height: 161px;
    /* background: palegreen; */
    float: left;
    margin-top: 30px;
    border-right: 1px solid #dedede
}
.footer-box1 p{
    margin-top: 3px;
    text-align: center
}
.footer-box1 li{
    list-style: none;
    font-size: 12px;
    color: #717171;
    height: 24px;
    line-height: 24px;
    text-align: center
}
/*  */
.footer-box2{
    width: 168px;
    height: 161px;
    /* background: palegreen; */
    float: left;
    margin-top: 30px;
    border-right: 1px solid #dedede
}
.footer-box2 p{
    margin-top: 3px;
    text-align: center
}
.footer-box2 li{
    list-style: none;
    font-size: 12px;
    color: #717171;
    height: 24px;
    line-height: 24px;
    text-align: center
}
.footer-box3{
    width: 140px;
    height: 161px;
    /* background: palegreen; */
    float: left;
    margin-top: 30px;
    border-right: 1px solid #dedede
}
.footer-box3 p{
    margin-top: 3px;
    text-align: center
}
.footer-box3 li{
    list-style: none;
    font-size: 12px;
    color: #717171;
    height: 24px;
    line-height: 24px;
    text-align: center
}
/*  */
.footer-box4{
    width: 140px;
    height: 161px;
    /* background: palegreen; */
    float: left;
    margin-top: 30px;
    border-right: 1px solid #dedede
}
.footer-box4 p{
    margin-top: 3px;
    text-align: center
}
.footer-box4 li{
    list-style: none;
    font-size: 12px;
    color: #717171;
    height: 24px;
    line-height: 24px;
    text-align: center
}
.footer-box5{
    width: 250px;
    height: 68px;
    margin: 64px 0 0 661px;
    /* background: khaki */
}
.footer-box5 li{
    list-style: none;
    height: 28px;
    line-height: 28px;
    float: left;
}
.footer-box5 li:nth-child(2){
    font-size: 12px;
    color: #a60000;
    margin-left: 26px
}
.footer-box5 li:nth-child(4){
    font-size: 12px;
    color: #a60000;
    margin-left: 14px
}
/* xia */
.footer-down{
    width: 1000px;
    height: 96px;
    border-top: none;
    border: 1px solid #eaeaea;
    float: left;
    margin-left: 164px;
    box-sizing: border-box
}
.footer-down P{
    /* font-size: 14PX; */
    margin:14px 0 0 18px;
    float: left;
}
.footer-down i{
    font-size: 12px;
    margin: 16px 0 0 17px;
    color: #b6b6b6;
    float: left;
    font-style: normal
}
.footer-down ul{
display: flex;
width: 300px;
height: 14px;
/* background: #4d4d4d; */
margin:61px 0 0 30px;
justify-content: space-between;
align-items: center
}
.footer-down li{
    list-style: none;
    font-size: 14px;
    color: #717171
}
/* 版权 */
#copy{
    width: 100%;
    height: 84px;
    background: #232323
}
.copy-con{
    width: 1360px;
    height: 84px;
    margin: 0 auto;
    /* background: skyblue */
}
.copy-box{
    width: 1000px;
    height: 12px;
    padding-top: 50px;
    margin-left: 164px;
    /* background: palevioletred */
}
.copy-box p{
    font-size: 12px;
    float: left;
    color: #717171
}
.copy-box i{
    font-size: 12px;
    float: right;
    font-style: normal;
    color: #717171
}