*{
    margin: 0;
    padding: 0
}
#wrap{
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 100px auto;
    position: relative;
}
/* 头部 */
.head{
    width: 320px;
    height: 270px;
    border: 1px solid black;
    position: relative;
    left: 50%;
    margin-left: -160px;
    border-radius: 190px 190px 109px 109px/167px 167px 152px 152px;
    background-color: #09bae4;
    margin-top: 10px
}
/* 脸 */
.face{
    width: 268px;
    height: 176px;
    border: 1px solid black;
    position: absolute;
    margin-top:-179px;
    margin-left: 67px;
    background-color: #ffffff;
    border-radius:145px 145px 89px 89px/101px 101px 86px 86px
}
/* 左眼 */
.eye-left{
    z-index: 1;
    width: 67px;
    height: 84px;
    border: 1px solid black;
    position: absolute;
    margin-top: -213px;
    margin-left: 136px;
    border-radius:39px 39px 44px 40px/40px 34px 49px 42px;
    background: #ffffff
}
/* 左眼珠子 */
.eye-1{
    z-index: 1;
    width: 13px;
    height: 13px;
    border: 1px solid black;
    position: absolute;
    margin-top: -161px;
    margin-left: 174px;
    border-radius: 8px ;
    background: #333333
}
/* 右眼 */
.eye-right{
    width: 67px;
    height: 84px;
    border: 1px solid black;
    position: absolute;
    margin-top: -213px;
    margin-left: 205px;
    border-radius:39px 39px 40px 44px/34px 40px 42px 49px;
    background: #ffffff
}
/* 右眼珠子 */
.eye-2{
    width: 15px;
    height: 15px;
    position: absolute;
    margin-top: -161px;
    margin-left: 214px;
    border-radius: 8px ;
    background: #333333
}
/* 鼻子 */
.nose{
    width: 30px;
    height: 30px;
    margin-top: -144px;
    margin-left: 189px;
    border: 1px solid black;
    position: absolute;
    background: #ca3e01;
    border-radius: 18px
}
/* 鼻子下面的线 */
.nose-1{
    /* z-index: 1; */
    width: 3px;
    height: 85px;
    background: #333333;
    margin:-112px 0 0 203px;
    position: absolute
}
/* 嘴巴 */
.mouth{
    width: 150px;
    height: 75px;
    border-bottom: 3px solid #333333;
    position: absolute;
    margin: -104px 0 0 133px;
    border-radius:0 0 70px 70px
}
/* 左侧胡子 */
.mustache{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin: -76px 0 0 109px
}
/* 左侧胡子上 */
.mustache-up{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin:-106px 0 0 115px;
    transform:rotate(23deg) 
}
/* 左侧下 */
.mustache-down{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin:-48px 0 0 114px;
    transform:rotate(-27deg) 
}
/*  */
/* 右侧胡子 */
.mustache-r{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin: -76px 0 0 243px
}
/* 右侧胡子上 */
.mustache-r-up{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin:-106px 0 0 239px;
    transform:rotate(156deg) 
}
/* 右侧下 */
.mustache-r-down{
    width: 55px;
    height: 3px;
    background: #333333;
    position: absolute;
    margin:-48px 0 0 242px;
    transform:rotate(-165deg) 
}
/* 围巾 */
.scarf{
    z-index: 1;
    width: 230px;
    height: 24px;
    background: #af2a01;
    border: 2px solid #000000;
    border-radius: 20px 20px 20px 20px;
    position: absolute;
    margin: -8px 0 0 86px
}
/* 铃铛 */
.bell{
    z-index: 1;
    width: 35px;
    height: 35px;
    background: #f5ed2a;
    border: 2px solid #000000;
    border-radius: 45%;
    position: absolute;
    margin: 2px 0 0 181px
}
/* 长方形 */
.rectangle{
    z-index: 1;
    width: 30px;
    height: 2px;
    border: 2px solid #000000;
    position: absolute;
    margin: 12px 0 0 183px
}
/* 孔 */
.box1{
    z-index: 1;
    width: 9px;
    height: 9px;
    background: #000;
    position: absolute;
    margin: 22px 0 0 195px;
    border-radius: 45%
}
/* 竖线 */
.box2{
    z-index: 1;
    width: 3px;
    height: 10px;
    background: #000;
    position: absolute;
    margin: 30px 0 0 198px;
}
/* 身体 */
.body{
    width: 225px;
    height: 158px;
    background: #09bae4;
    position: absolute;
    margin: 20px 0 0 88px;
    border: 2px solid #000;
    border-radius: 10px 10px 0 0
}
/* 左胳膊 */
.arm-l{
    width: 40px;
    height: 86px;
    background: #09bae4;
    border: 2px solid #000;
    position: absolute;
    border-top: none;
    margin:20px 0 0 57px;
    transform: rotate(43deg);
    border-radius: 10px 0 0 0
}
/* 右胳膊 */
.arm-r{
    width: 40px;
    height: 86px;
    background: #09bae4;
    border: 2px solid #000;
    position: absolute;
    border-top: none;
    margin:17px 0 0 303px;
    transform: rotate(-48deg);
    border-radius:  0 10px 0 0
}
/* 左手 */
.hand-l{
    width: 40px;
    height: 43px;
    border: 2px solid black;
    border-radius: 45%;
    position: absolute;
    background: #fff;
    margin: 79px 0 0 22px
}
/* 右手 */
.hand-r{
    width: 40px;
    height: 43px;
    border: 2px solid black;
    border-radius: 45%;
    position: absolute;
    background: #fff;
    margin: 72px 0 0 341px
}
/* 肚子 */
.tummy{
    width: 154px;
    height: 154px;
    border: 2px solid #000;
    background: #fff;
    position: absolute;
    margin:-2px 0 0 122px;
    border-radius: 45%
}
/* 肚子1 */
.tummy-up{
    width: 136px;
    height: 68px;
    border: 2px solid #000;
    background: #fff;
    border-radius:0 0 88px 88px ;
    position: absolute;
    margin: 68px 0 0 133px 
}
.box3{
    width: 30px;
    height: 15px;
    border: 2px solid #000;
    background: #fff;
    border-radius: 30px 30px 0 0 ;
    position: absolute;
    border-bottom: none;
    margin: 165px 0 0 187px
}
/* 左脚 */
.fotter-l{
    width: 105px;
    height: 28px;
    border: 2px solid #000;
    background: #fff;
    position: absolute;
    margin: 175px 0 0 83px;
    border-radius: 26px 25px 20px 27px
}
/* 左脚 */
.fotter-r{
    width: 105px;
    height: 28px;
    border: 2px solid #000;
    background: #fff;
    position: absolute;
    margin: 175px 0 0 216px;
    border-radius: 26px 25px 20px 27px
}