*{
    margin: 0;
    padding: 0
}
/* 顶部 */
#top{
    width: 100%;
    height: 60px;
    float: left;
    background: #e83928
}
/* 顶部版心 */
.top-con{
    width: 1060px;
    height: 60px;
    margin: 0 auto;
    /* background-color: cadetblue */
}
.top-box1{
    font-size: 20px;
    color: #f9f5f4;
    float: left;
    margin: 20px 0 0 12px
}
.top-box2{
    width: 432px;
    height: 20px;
    /* background: aqua; */
    float: left;
    margin: 27px 0 0 260px
}
.top-box2 ul li{
    width: 86px;
    height: 20px;
    line-height: 20px;
    list-style: none;
    float: left;
    text-align: center
}
.top-box2 a{
    display: block;
    font-size: 12px;
    height: 20px;
    color: #f5ffff;
    text-decoration: none;
}
.top-box2 a:hover{
    border-bottom: 1px solid #f5ffff
}
.top-box3{
    width: 220px;
    height: 24px;
    float: left;
    margin: 23px 0 0 10px;
    /* background-color: azure */
}
.top-box3 img{
    margin-right: 10px;
    float: left;
}
.top-box3 p{
    font-size: 16px;
    text-indent: 3px;
    color: #fbffff
}
/* ￥￥￥￥￥￥顶部结束￥￥￥￥￥￥￥￥￥￥￥ */
/* 轮播图 */
#banner{
    width: 100%;
    height: 520px;
    float: left;
    overflow: hidden;
}
#banner img{
    width: 100%;
    height: 100%;
}
/* 中间 */
#middle{
    width: 100%;
    height: 230px;
    float: left;
}
/* 中间板心 */
.middle-con{
    width: 1060px;
    height: 230px;
    /* background: skyblue; */
    margin: 0 auto
}
.middle-box1{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    border-right: 1px dashed #b0b0b0
}
.middle-box1 img{
    float: left;
    margin-left: 50px
}
.middle-box1 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box1 ul{
    float: left;
}
.middle-box1 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
.middle-box2{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    border-right: 1px dashed #b0b0b0
}
.middle-box2 img{
    float: left;
    margin-left: 50px
}
.middle-box2 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box2 ul{
    float: left;
}
.middle-box2 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
.middle-box3{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    border-right: 1px dashed #b0b0b0
}
.middle-box3 img{
    float: left;
    margin-left: 50px
}
.middle-box3 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box3 ul{
    float: left;
}
.middle-box3 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
.middle-box4{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    border-right: 1px dashed #b0b0b0
}
.middle-box4 img{
    float: left;
    margin-left: 50px
}
.middle-box4 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box4 ul{
    float: left;
}
.middle-box4 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
.middle-box5{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    border-right: 1px dashed #b0b0b0
}
.middle-box5 img{
    float: left;
    margin-left: 50px
}
.middle-box5 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box5 ul{
    float: left;
}
.middle-box5 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
/*  */
.middle-box6{
    width: 175px;
    height: 183px;
    float: left;
    /* background: bisque; */
    margin-top: 14px;
    /* border-right: 1px dashed #b0b0b0 */
}
.middle-box6 img{
    float: left;
    margin-left: 50px
}
.middle-box6 p{
    font-size: 16px;
    width: 175px;
    text-align: center;
    float: left;
    color: #5a5859;
    margin-top: 17px
}
.middle-box6 ul{
    float: left;
}
.middle-box6 ul li{
    list-style: none;
    width: 175px;
    height: 24px;
    color: #7c7c7a;
    line-height: 24px;
    text-align: center;
    /* margin-top: 20px; */
    font-size: 12px
}
/* #############中间部分结束 */
/* 案例 */
#case{
    width: 100%;
    height: 490px;
    float: left;
    background: #eeeeee
}
/* 案例版心 */
.case-con{
    width: 1060px;
    height: 490px;
    margin: 0 auto;
    /* background: skyblue; */
    position: relative;
}
.case-con p{
    float: left;
    font-size: 36px;
    color: #454547;
    margin: 42px 0 0 14px
}
.case-con i{
    float: left;
    font-style: normal;
    font-size: 16px;
    color: #444446;
    margin: 58px 0 0 12px
}
.case-box1{
    width: 321px;
    height: 320px;
    margin: 100px 0 0 -122px;
    float: left;
    /* background: cadetblue; */
    position: relative;
}
.case-box1 img{
float: left;
}
.case-box1 p{
    font-size: 16px;
    color: #1e231f;
    float: left;
    margin-top: 16px;
    text-indent: 20px
}
.case-box1 em{
    font-style: normal;
    font-size: 12px;
    color: #434542;
    float: left;
    position: absolute;
    margin: 290px 0 0 -89px
}
.case-down{
    width: 282px;
    height: 80px;
    float: left;
    margin: 10px 0 0 10px;
    /* background-color: burlywood; */
    border-top: 1px solid #e3e3e3
}
.case-down ul{
    float: left;
}
.case-down ul li{
    list-style: none;
    font-size: 12px;
    width: 282px;
    height: 22px;
    line-height: 22px;
    color: #828385;
}
.case-box2{
    width: 321px;
    height: 320px;
    margin: 100px 0 0 20px;
    float: left;
    /* background: cadetblue; */
    position: relative;
}
.case-box2 img{
float: left;
}
.case-box2 p{
    font-size: 16px;
    color: #1e231f;
    float: left;
    margin-top: 16px;
    text-indent: 20px
}
.case-box2 em{
    font-style: normal;
    font-size: 12px;
    color: #434542;
    float: left;
    position: absolute;
    margin: 290px 0 0 -89px
}
.case-down{
    width: 282px;
    height: 80px;
    float: left;
    margin: 10px 0 0 10px;
    /* background-color: burlywood; */
    border-top: 1px solid #e3e3e3
}
.case-down ul{
    float: left;
}
.case-down ul li{
    list-style: none;
    font-size: 12px;
    width: 282px;
    height: 22px;
    line-height: 22px;
    color: #828385;
}
.case-box3{
    width: 321px;
    height: 320px;
    margin: 100px 0 0 20px;
    float: left;
    /* background: cadetblue; */
    position: relative;
}
.case-box3 img{
float: left;
}
.case-box3 p{
    font-size: 16px;
    color: #1e231f;
    float: left;
    margin-top: 16px;
    text-indent: 20px
}
.case-box3 em{
    font-style: normal;
    font-size: 12px;
    color: #434542;
    float: left;
    position: absolute;
    margin: 290px 0 0 -89px
}
.case-down{
    width: 282px;
    height: 80px;
    float: left;
    margin: 10px 0 0 10px;
    /* background-color: burlywood; */
    border-top: 1px solid #e3e3e3
}
.case-down ul{
    float: left;
}
.case-down ul li{
    list-style: none;
    font-size: 12px;
    width: 282px;
    height: 22px;
    line-height: 22px;
    color: #828385;
}
.case-bottom{
    width: 84px;
    height: 16px;
    font-size: 16px;
    color:#585755;
    position: absolute;
    float: left;
    margin: 440px 0 0 470px;
}
.case-con .img{
    position: absolute;
    margin-top: 100px;
    margin-left: 1027px
}
/* $$$$$$$$$$$$案例结束$$$$$$$$$$$$$$ */
/* 客户 */
#client{
    width: 100%;
    height: 305px;
    float: left;
}
/* 版心 */
.client-con{
    width: 1060px;
    height: 305px;
    margin: 0 auto;
    /* background: cadetblue */
}
.client-con p{
    float: left;
    font-size: 36px;
    color: #454547;
    margin: 42px 0 0 14px
}
.client-con i{
    float: left;
    font-style: normal;
    font-size: 16px;
    color: #444446;
    margin: 58px 0 0 12px;
}
.client-box1{
    float: left;
    margin: 100px 5px 0 -157px;
}
.client-box2{
    float: left;
    margin: 100px 5px 0 4px;
}
.client-box3{
    float: left;
    margin: 100px 5px 0 4px;
}
.client-box4{
    float: left;
    margin: 100px 5px 0 4px;
}
.client-box5{
    float: left;
    margin: 100px 5px 0 4px;
}
/* 客户结束************************ */
/* 新闻部分 */
#news{
    width: 100%;
    height: 280px;
    float: left;
}
/* 新闻部分版心 */
.news-con{
    width: 1060px;
    height: 280px;
    margin: 0 auto;
    /* background: skyblue */
}
.news-l{
    width: 505px;
    height: 280px;
    /* background: pink; */
    float: left;
    border-right: 1px dashed #b9b9b9
}
.news-l p{
    font-size: 22px;
    color: #434544;
    margin-top: 2px
}
.news-l i{
    font-style: normal;
    font-size: 14px;
    color: #222222;
    float: left;
    margin-top: 30px
}
.news-l ul {
    float: left;
}
.news-l ul li{
    font-size: 12px;
    list-style: none;
    color: #686669;
    height: 22px;
    line-height: 22px
}
.news-l span{
    font-size: 12px;
    float: left;
    color: #d11418;
    margin-top:30px
}
.news-r{
    width: 554px;
    height: 280px;
    float: left;
    /* background: pink */
}
.news-r p{
    font-size: 22px;
    color: #434544;
    float: left;
    margin-left: 35px;
    margin-top: 2px
}
.news-r ul {
    float: left;
}
.news-r ul li{
    font-size: 12px;
    color: #535355;
    height: 40px;
    line-height: 40px;
    margin-left: -72px;
    width: 458px;
}
.news-r li span{
    float: right;;
}
.news-r i{
    font-style: normal;
    font-size: 12px;
    float: left;
    color: #d11418;
    margin-top:20px;
    margin-left: 37px
}
/* 新闻部分结束************* */
/* 版权 */
#copy{
    width: 100%;
    height: 30px;
    float: left;
    background: #4f4f4f
}
/* 版权版心 */
.copy-con{
    width: 1060px;
    height: 30px;
    margin: 0 auto;
}
.copy-con p{
    font-size: 12px;
    float: right;
    color: #c1c1c1;
    height: 30px;
    line-height: 30px
}
/* 底部 */
#fotter{
    width: 100%;
    height: 220px;
    float: left;
    background: #393939
}
.fotter-con{
    width: 1060px;
    height: 220px;
    margin: 0 auto;
    /* background: bisque */
}
.fotter-l{
    width: 244px;
    height: 110px;
    float: left;
    /* background: pink; */
    margin-top: 36px
}
.fotter-box1 img{
    float: left;
    margin-right: 10px
}
.fotter-box2 img{
    float: left;
    margin-right: 10px
}
.fotter-box3 img{
    float: left;
    margin-right: 10px
}
.fotter-box4 img{
    float: left;
    margin-right: 10px
}
.fotter-box5 img{
    float: left;
    margin-right: 10px
}
.fotter-box6 img{
    float: left;
    margin-right: 10px
}
.fotter-l p{
    font-size: 12px;
    color: #9c9e9b;
    margin-top:31px
}
.fotter-l i{
    font-style: normal;
    font-size: 14px;
    color: #9c9e9b;
}
.fotter-l em{
    font-style: normal;
    font-size: 12px;
    color: #9c9e9b;
}
.fotter-l strong{
    font-style: normal;
    font-size: 12px;
    color: #9c9e9b;
}
.fotter-r1{
    width: 70px;
    height: 140px;
    float: left;
    margin-left: 360px;
    /* background: pink; */
    margin-top:36px
}
.fotter-r1 p{
    font-size: 16px;
    color: #b7b9b6
}
.fotter-r1 ul{
    float: left;
}
.fotter-r1 ul li{
    list-style: none;
    font-size: 12px;
    color: #99999b;
    height: 20px;
    line-height: 20px
}
.fotter-r2{
    width: 80px;
    height: 150px;
    /* background: pink; */
    margin-top:36px;
    margin-left: 38px;
    float: left;
}
.fotter-r2 p{
    font-size: 16px;
    color: #b7b9b6
}
.fotter-r2 ul{
    float: left;
}
.fotter-r2 ul li{
    list-style: none;
    font-size: 12px;
    color: #99999b;
    height: 20px;
    line-height: 20px
}
.fotter-r3{
    width: 66px;
    height: 150px;
    /* background: pink; */
    margin-top:36px;
    margin-left: 38px;
    float: left;
}
.fotter-r3 p{
    font-size: 16px;
    color: #b7b9b6
}
.fotter-r3 ul{
    float: left;
}
.fotter-r3 ul li{
    list-style: none;
    font-size: 12px;
    color: #99999b;
    height: 20px;
    line-height: 20px
}
.fotter-r4{
    width: 86px;
    height: 150px;
    /* background: pink; */
    margin-top:36px;
    margin-left: 38px;
    float: left;
}
.fotter-r4 p{
    font-size: 16px;
    color: #b7b9b6
}
.fotter-r4 ul{
    float: left;
}
.fotter-r4 ul li{
    list-style: none;
    font-size: 12px;
    color: #99999b;
    height: 20px;
    line-height: 20px
}