*{
    margin: 0;
    padding: 0
}
/* 顶部 */
#top{
    width: 100%;
    height: 120px;
    float: left;
}
/* 顶部版心 */
.top-con{
    width: 1200px;
    margin: 0 auto;
    height: 120px;
    /* background: skyblue; */
    position: relative;
}
.top-con span{
    float: left;
    margin-top: 15px
}
.top-con p{
    font-size: 28px;
    padding-top:58px;
    position: absolute;
    letter-spacing: 12px
}
.top-box1{
    width: 465px;
    height: 35px;
    /* background: pink; */
    float: left;
    margin: -40px 0 0 735px;
    background:url(../images/gupiao_03.gif)no-repeat left top
}
.top-box1 i{
    font-style: normal;
    font-size: 12px;
    color: #666666;
    margin-top: 6px;
    float: left;
    text-indent: 30px
}
.top-box1 em{
    color: #cf000d;
    font-style: normal;
    float: left;
    font-size: 12px;
    margin: 7px 0 0 4px
}
.top-box1 b{
    color: #eaeef5;
    float: left;
    font-weight: normal;
    margin: 4px 22px 0 19px
}
.top-box1 h6{
    font-weight: normal;
    font-size: 12px;
    color: #cf000d;
    float: left;
    margin-top: 7px
}
.top-box1 strong{
    font-weight: normal;
    font-size: 12px;
    color: #9999a5;
    margin: 7px 0 0 10px;
    float: left;
}
.top-box1 input{
    width: 210px;
    height: 30px;
    border-color: #dadada;
    border-radius: 16px;
    background: url(../images/fdj_03.gif)no-repeat center right  #ffffff;
    float: right;
    outline: none
}
.top-box2{
    width: 820px;
    height: 70px;
    /* background: pink; */
    float: left;
    margin: -11px 0 0 380px;
    /* 转为弹性盒 */
    display: flex;
    /* 调间隔 */
    justify-content: space-around
}
.top-box2 li{
    list-style: none;
    font-size: 12px;
    height: 70px;
    line-height: 70px;
    color: #000000
}
.top-box2 a{
    text-decoration: none;
    color: #000000
}
.top-box2 a:hover{
    font-weight: 700;
    color: #d8000d
}
/* 轮播图 */
#banner{
    width: 100%;
    height: 394px;
    float: left;
}
#banner img{
    width: 100%;
    height: 100%;
}
/* 产品解决方案 */
#cp{
    width: 100%;
    height: 130px;
    float: left;
}
#cp p{
    font-size: 34px;
    color: #333333;
    height: 130px;
    line-height: 130px;
    text-align: center
}
/* 图片 */
#photo{
    width: 100%;
    height: 695px;
    float: left;
}
/* 图片版心 */
.photo-con{
    width: 1200px;
    height: 695px;
    margin: 0 auto;
    /* background: skyblue */
}
.photo-box1{
    float: left;
    margin-left: 7px
}
.photo-box2{
    float: left;
    margin: 0 14px 0 10px
}
.photo-box2{
    float: left;
}
.photo-down{
    width: 1200px;
    height: 365px;
    /* background: pink; */
    display: flex;
    justify-content: space-around
}
/* 新闻中心 */
#xwzx{
    width: 100%;
    height: 145px;
    float: left;
    background: #f7f7f7
}
#xwzx p{
    font-size: 34px;
    color: #333333;
    height: 145px;
    line-height: 145px;
    text-align: center
}
#news{
    width: 100%;
    height: 470px;
    float: left;
    background: #f7f7f7
}
/* 版心 */
.news-con{
    width: 1200px;
    height: 470px;
    margin: 0 auto;
    /* background: skyblue */
}
.news-con img{
    float: left;
}
.news-box2{
    width: 600px;
    height: 120px;
    border-bottom: 1px solid #dee0e3;
    border-top: 1px solid #dee0e3;
    float: left;
    margin-left: 16px
}
.news-box2 p{
    font-size: 16px;
    color: #666666;
    float: left;
    margin-top:22px
}
.news-box2 span{
    margin-left: 122px
}
.news-box2 li{
    list-style: none;
    font-size: 14px;
    float: left;
    color: #888888;
    height: 25px;
    line-height: 25px;
    width: 600px
}
.news-box3{
    width: 600px;
    height: 250px;
    /* background: pink; */
    float: left;
    margin-left: 16px
}
.news-box3 li{
    list-style: none;
    font-size: 16px;
    height:34px ;
    line-height: 34px;
    color: #666666;
    width: 600px;
    background:url(../images/sanjiaoxing_03.gif)
    no-repeat center left;
    text-indent: 10px
}
.news-box3 span{
    float: right;
}
/* 版心2 */
#nav{
    width: 100%;
    height: 480px;
    float: left;
}
#nav img{
    width: 100%;
    height: 100%;
}
/* 成员企业 */
#panner{
    width: 100%;
    height: 145px;
    float: left;  
}
#panner p{
    font-size: 34px;
    color: #333333;
    height: 145px;
    line-height: 145px;
    text-align: center;
}
/* 第一排图片 */
#one{
    width: 100%;
    height: 86px;
    float: left;
}
.one-con{
    width: 1188px;
    height: 86px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}
/* 第二排图片 */
#two{
    width: 100%;
    height: 86px;
    float: left;
    margin-top: 20px
}
.two-con{
    width: 1188px;
    height: 86px;
    margin: 0 auto
}
.two1{
    width: 705px;
    height: 86px;
    display: flex;
    justify-content: space-between
}
/* 底部 */
#fotter{
    width: 100%;
    height: 360px;
    float: left;
    background: #303030
}
/* 底部版心 */
.fotter-con{
    width: 1200px;
    height: 360px;
    margin: 0 auto;
    border-bottom: 1px solid #3e3e3e;
    /* background: skyblue */
}
.fotter-1{
    width: 60px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px
}
.fotter-1 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-1 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-2{
    width: 60px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px;
    margin-left: 110px
}
.fotter-2 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-2 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-3{
    width: 109px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px;
    margin-left: 110px
}
.fotter-3 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-3 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-4{
    width: 60px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px;
    margin-left: 40px
}
.fotter-4 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-4 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-5{
    width: 60px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px;
    margin-left: 100px
}
.fotter-5 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-5 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-6{
    width: 60px;
    height: 180px;
    float: left;
    /* background: pink; */
    margin-top:60px;
    margin-left: 100px
}
.fotter-6 b{
    font-size: 12px;
    color: #e0e0d5;
}
.fotter-6 li{
    font-size: 12px;
    list-style: none;
    height: 30px;
    line-height: 30px;
    color: #999999
}
.fotter-7{
    width: 150px;
    height: 180px;
    float: left;
    margin: 60px 0 0 130px
}
.fotter-7 p{
    float: left;
    margin-top: 20px;
    width: 150px;
    font-size: 12px;
    color: #fff;
    text-align: center
}
/* 版权 */
#copy{
    width: 100%;
    height: 108px;
    background: #303030;
    float: left;
}
/* 版权版心 */
.copy-con{
    width: 1200px;
    height: 108px;
    margin: 0 auto;
    /* background: skyblue */
}
.copy-l{
    width: 510px;
    height: 47px;
    float: left;
    /* background:pink ; */
    margin-top: 30px;
    position: relative;
}
.copy-l img{
    position: absolute;
    margin-left: 342px;
    margin-top: -46px;
    float: left;
}
.copy-l span{
    position: absolute;
    margin: 5px 0 0 59px
}
.copy-l p{
    font-size: 12px;
    color: #999999;
    height: 47px;
    line-height: 47px;
}
.copy-r{
    width: 267px;
    height: 15px;
    float: left;
    margin: 44px 0 0 423px;
    /* background: pink */
}
.copy-r li{
    list-style: none;
    font-size: 12px;
    width: 87px;
    float: left;
    text-align: center;
    color: #999999;
    border-right: 1px solid #999999
}